
**/.settings

pentestportal/media/*
RPT-[0-9]*
RVA-[0-9]*
HVA-[0-9]*
FAST-[0-9]*
RV[0-9]*
backup-*
mode.txt
docker/dev/env.txt
docker/prod/env.txt
docker/prod/nginx/ssl/

*.sqlite3

config.yml
ptportal.log

__pycache__
*.pyc

docs/_build/*

~$*

*.pyc
*.DS_Store

.coverage
.editorconfig

docs/_build/*

ptportal/migrations/0*

docker/containers/*
docker/images/*

*.zip
*.tar

ptportal/static/rest_framework/*
ptportal/static/webfonts/*
ptportal/static/admin/js/*
ptportal.log

.vscode

node/package-lock.json
node/node_modules/*