
**/.settings

testUploads
pentestportal/media/*
dhs_format*
RPT[0-9]*
RVA[0-9]*
HVA[0-9]*
RPT_Outbrief*
RVA_Outbrief*
HVA_Outbrief*
RVA_Tracker*
HVA_Tracker*
RPT_Tracker*
hva.json
election-infrastructure.json
ptp_export_*
RVA_Report_*
mode.txt
docker/dev/env.txt
docker/prod/env.txt

*.sqlite3

config.yml
ptportal.log

__pycache__
*.pyc


docs/_build/*


**/.settings

pentestportal/testUploads
external_scope.txt
internal_scope.txt
ptp_backup*
~$*

ptp_export_*
*.sqlite3
*.pyc
*.DS_Store

.coverage
.editorconfig
mode.txt

docs/_build/*

ptportal/migrations/0*

docker/containers/*
docker/images/*

*.zip
*.tar

ptportal/static/*
ptportal.log
mode.txt

.vscode

node/package-lock.json
node/node_modules/*
