{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block active %}#ei{% endblock %}
{% block content %}

<h1>Election Infrastructure Questionnaire</h1>
<hr />

<div class="row mb-3">
	<div class="col-md-6">
		<p>Last modified on {{object.updated_at | naturaltime}}</p>
	</div>
	<div class="col-md-6 text-right">
        <a class="btn btn-primary" href ="{% url 'ei_update' %}"><i class="fa fa-edit"></i> Edit</a>
		<a class="btn btn-danger" href ="{% url 'ei_delete' %}"><i class="fa fa-trash"></i> Delete</a>
	</div>
</div>

{{object}}

{% endblock %}
