<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->
{% extends 'ptportal/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block active %}#ei{% endblock %}

{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
    .btn-primary{
        float: right;
        margin-top: -30px;
    }
    .col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
    }
</style>
{% endblock %}

{% block content %}
<form @submit="submitEI" class="block">

{% csrf_token %}

<div class="col-span-5 mb-5">
    <sds-section class="col-span-5" type="accented">
        <span class="border-top border-dark"></span>
        <template #title><b>ELECTION SYSTEMS</b></template>
            <!-- Election Systems Table -->
            <sds-section>
                <div class="mb-8">
                    <sds-table :fields="fields" :items="items" class="table-prose" v-bind="EITableArgs">
                            <template #cell(ei_make)="{item}">
                                <sds-input v-model="item.ei_make" placeholder="Make" :maxlength="200"></sds-input>
                            </template>
                            <template #cell(ei_model)="{item}">
                                <sds-input v-model="item.ei_model" placeholder="Model" :maxlength="200"></sds-input>
                            </template>
                            <template #cell(ei_model_num)="{item}">
                                <sds-input v-model="item.ei_model_num" placeholder="#" :maxlength="200"></sds-input>
                            </template>

                            <template #cell(delete)="{item}">
                                <sds-button type="button" @click="deleteSystem(item)" ><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-button>
                            </template>
                    </sds-table>
                    <sds-button type="button" @click="addSystem"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
                </div>
            </sds-section>
        </sds-section>
    </sds-section>
</div>

<div class="col-span-5">
    <sds-section class="col-span-5" type="accented">
        <span class="border-top border-dark"></span>
            <template #title><b>ELECTION INFRASTRUCTURE QUESTIONNAIRE</b></template>

            <!-- Last modified time, download JSON button, and delete button -->
            {% if object %}

                <div class="row mb-3">
                <div class="col-md-6">
                    <p>Last modified: {{object.updated_at | naturaltime}}</p>
                    <br>
                </div>
                <div class="col-md-6" style="float:left">
                    {% if asmt_id != '' %}
                        <sds-button style="margin:5px" variant="success" type="button" @click="redirectLink('{% url "generate_EI_json" %}')"><img class="w-8 h-8" src="/static/icons/file-download-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Download JSON</sds-button>
                    {% else %}
                        <sds-floating-ui
                            popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                            placement="top"
                            arrow-class="absolute bg-black w-2 h-2 rotate-45"
                            placement-top-arrow-class="-bottom-1"
                            placement-right-arrow-class="-left-1"
                            placement-bottom-arrow-class="-top-1"
                            placement-left-arrow-class="-right-1"
                            :will-open="willOpen"
                            :will-close="willClose"
                        >
                        <template #trigger="{ open, close }">
                        <sds-button style="margin:5px" variant="secondary" type="button" @mouseover="open" @mouseout="close"><img class="w-8 h-8" src="/static/icons/file-download-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Download JSON</sds-button>
                        </template>
                        <template #default>
                            <div class="p-2">
                                <p>Assessment Details must be entered to download EI JSON.</p>
                            </div>
                        </template>
                        </sds-floating-ui>
                    {% endif %}

                    <sds-button style="margin:5px;" variant="danger" type="button" @click="this.deleteWarning = true"><img class="w-8 h-8" src="/static/icons/trash-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Delete Questionnaire</sds-button>
                
                    <sds-modal size="sm" v-model="deleteWarning">
                    <template #title>
                        <p>Warning</p>
                    </template>
                    <p class="mb-2">Are you sure you want to delete this Election Infrastructure Questionnaire? All current data will be lost.</p>
                    <div class="flex gap-2">
                        <sds-button variant="danger" @click="this.deleteWarning=false;redirectLink('{% url "ei_modal_delete" %}')"><img class="w-8 h-8" src="/static/icons/trash-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Delete</sds-button>
                        <sds-button variant="secondary" @click="this.deleteWarning = false"><img class="w-8 h-8" src="/static/icons/circle-xmark-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Cancel</sds-button>
                    </div>
                    </sds-modal>
                </div>
                </div>

                <br><br><br>

            {% endif %}

            {% for q in form %}
                {% if q.name == 'q4A' or q.name == 'q9A' %}
                    <div class='form-row mb-3 d-none' id='{{ q.name }}Field'>
                        <div class="col-md-7">
                            <h6 class="control-label">{{ q.label_tag }} {{ q.help_text }}</h6>
                            <sds-textarea v-model="formData.{{ q.name }}" placeholder="Description" v-bind:rows="3" :maxlength="2000"></sds-textarea>
                        </div>
                    </div>
                {% elif q.name == 'q24' or q.name == 'q25' or q.name == 'q26' or q.name == 'q27' %}
                    <div class="form-row mb-3">
                        <div class="col-md-7">
                            <h6 class="control-label">{{ q.label_tag }} {{ q.help_text }}</h6>
                            <sds-radio-group name="{{ q.name }}" :options="secureOptions" :stacked="true" v-model="formData.{{ q.name }}" class="mb-4"></sds-radio-group>    
                        </div>
                    </div>
                {% else %}
                    <div class="form-row mb-3">
                        <div class="col-md-7">
                            <h6 class="control-label">{{ q.label_tag }} {{ q.help_text }}</h6>
                            <sds-radio-group name="{{ q.name }}" :options="scopeOptions" :stacked="true" v-model="formData.{{ q.name }}" class="mb-4"></sds-radio-group>    
                        </div>
                    </div>
                {% endif %}
                <br>
            {% endfor %}

        <sds-button type="submit" variant="primary"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
        <br>
    </sds-section>
</div>
</form>
{% endblock %}

{% block scripts %}
<script>
    function pageData() {
        data = {
            formData: {
                q1: "{{ object.q1 }}",
                q2: "{{ object.q2 }}",
                q3: "{{ object.q3 }}",
                q4: "{{ object.q4 }}",
                q4A: "{{ object.q4A | escapejs }}",
                q5: "{{ object.q5 }}",
                q6: "{{ object.q6 }}",
                q7: "{{ object.q7 }}",
                q8: "{{ object.q8 }}",
                q9: "{{ object.q9 }}",
                q9A: "{{ object.q9A | escapejs }}",
                q10: "{{ object.q10 }}",
                q11: "{{ object.q11 }}",
                q12: "{{ object.q12 }}",
                q13: "{{ object.q13 }}",
                q14: "{{ object.q14 }}",
                q15: "{{ object.q15 }}",
                q16: "{{ object.q16 }}",
                q17: "{{ object.q17 }}",
                q18: "{{ object.q18 }}",
                q19: "{{ object.q19 }}",
                q20: "{{ object.q20 }}",
                q21: "{{ object.q21 }}",
                q22: "{{ object.q22 }}",
                q23: "{{ object.q23 }}",
                q24: "{{ object.q24 }}",
                q25: "{{ object.q25 }}",
                q26: "{{ object.q26 }}",
                q27: "{{ object.q27 }}",
            },
            scopeOptions: [
                {
                    id: 1,
                    value: "Yes",
                    text: "Yes"
                },
                {
                    id: 2,
                    value: "No",
                    text: "No"
                },
                {
                    id: 3,
                    value: "Not Applicable",
                    text: "Not Applicable"
                },
                {
                    id: 4,
                    value: "TBD",
                    text: "To Be Determined"
                }
            ],
            
            secureOptions: [
                {
                    id: 1,
                    value: "1",
                    text: "Least Secure"
                },
                {
                    id: 2,
                    value: "2",
                    text: "Moderately Secure"
                },
                {
                    id: 3,
                    value: "3",
                    text: "Secure"
                },
                {
                    id: 4,
                    value: "4",
                    text: "Very Secure"
                },
                {
                    id: 5,
                    value: "5",
                    text: "Most Secure"
                },
                {
                    id: 6,
                    value: "TBD",
                    text: "To Be Determined"
                }
            ],
            deleteWarning: false,
            EITableArgs: {
                fields: [
                    {
                        key: "id",
                        label: "#"
                    },
                    {
                        key: "ei_make",
                        label:"Make"
                    },
                    {
                        key: "ei_model",
                        label: "Model"
                    },
                    {
                        key: "ei_model_num",
                        label: "Model Number"
                    },
                    {
                        key: "delete",
                    }
                ],
                items: []
            }
        }

        {% for system in systems %}

            data.EITableArgs.items.push({id: "{{system.order}}", ei_make: "{{system.ei_make | safe}}", ei_model: "{{system.ei_model | safe}}", ei_model_num: "{{system.ei_model_num | safe}}"})

        {% endfor %}

        return data
    }

    function pageCreated() {
        this.baseData.layoutArgs.pageTitle = "Election Infrastructure"
    }

    function pageMethods() {
        pageFunctions = {
            submitEI: function (event) {
                event.preventDefault()
                formattedData = {}
                formattedData['systems'] = JSON.parse(JSON.stringify(this.EITableArgs.items))
                formattedData['questions'] = JSON.parse(JSON.stringify(this.formData))
                fetch(window.location.href, {
                    method: "POST",
                    body: JSON.stringify(formattedData),
                    credentials: "same-origin",
                    headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
                }).then(response => {
                    if (response.ok) {
                        this.displayNotification({title: "Election Data Saved", variant:"success", text: "Election data saved successfully. Please wait while the page refreshes..."})
                        setTimeout(() => {this.redirectLink("{% url 'ei_update' %}")}, 2000)
                    }
                    else {
                        this.displayNotification({title: "Error Saving Data", text: 'Bad response received from server. Check for errors in forms and try again.', variant: "danger"})
                    }
                }).catch(error => {
                    this.displayNotification({text: error, title: "Error Saving Data", variant:"danger"})
                })
            },

            addSystem: async function () {
                this.EITableArgs.items.push({id: this.EITableArgs.items.length + 1, ei_make: "", ei_model: "", ei_model_num: ""})
            },

            deleteSystem: function(item) {
                row = parseInt(this.EITableArgs.items.indexOf(item))
                this.EITableArgs.items.splice(this.EITableArgs.items.indexOf(item), 1)

                this.EITableArgs.items.forEach((element, index) => {
                    element.id = index + 1
                })
            }
        }

        return pageFunctions
    }

</script>

{% endblock %}
