<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
	.col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
		margin-bottom: 50px !important;
    }
	.float-left{
		display: inline-block;
		position: relative;
		top: -40px;
	}
	.right-block{
		display:inline-block;
		vertical-align:top;
		font-size: 11pt;
	}
	.space{
		padding: 4px;
	}
  </style>
{% endblock %}

{% block content %}
<div class="header">
  <h2> Payloads</h2>
</div>
<br>

<div class="col-span-5">
	{% csrf_token %}
    <sds-section class="col-span-5" type="accented">
        <span class="border-top border-dark"></span>
            <template #title><b>PAYLOADS</b></template>
			<!-- File Uploader -->
				<sds-file-uploader v-bind="fileUploadArgs" @add="addFile"></sds-file-uploader>
			<!-- Payloads Table -->
			<sds-section>
				<div class="mb-8">
					<sds-table :fields="fields" :items="items" class="table-prose" v-bind="PayloadTableArgs">
							<template #cell(payload_description)="{item}">
								<sds-textarea v-model="item.payload_description" rows="1" placeholder="Description"></sds-textarea>
							</template>
							<template #cell(c2_protocol)="{item}">
								<sds-input v-model="item.c2_protocol" placeholder="Protocol"></sds-input>
							</template>
							<template #cell(border_protection)="{item}">
								<div class="right-block">
									<sds-toggle-switch v-model="item.border_protection"/>
								</div>
								<div v-if="item.border_protection" class="right-block space">
									<p>Blocked</p>
								</div>
								<div v-else class="right-block space">
									<p>Not Blocked</p>
								</div>
							</template>
							<template #cell(host_protection)="{item}">
								<div class="right-block">
									<sds-toggle-switch v-model="item.host_protection"/>
								</div>
								<div v-if="item.host_protection" class="right-block space">
									<p>Blocked</p>
								</div>
								<div v-if="!item.host_protection" class="right-block space">
									<p>Not Blocked</p>
								</div>
							</template>
							<template #cell(delete)="{item}">
								<sds-button type="button" @click="deletePayload(item)" ><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-button>
							</template>
					</sds-table>
					<sds-button type="button" @click="addPayload"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
				</div>
			</sds-section>
		<!-- Save Button -->
		<sds-button variant="primary" class="float-left" @click="submitPaths"> Save</sds-button>
	</sds-section>
</div>
{% endblock %}

{% block scripts %}
<script>
function pageData() {
	data = {
		fileList: [],
		formData: [],
		fileUploadArgs: {
			helperText: "Upload a CSV under 10MB having format: \n [Description,Protocol,Border,Host] <string>,<string>,<B/N>,<B/N>",
			accept: ".csv",
			allowedFiletypes: ["text/csv"],
			name: "payloadUploads",
			multiple: true
		},
		//to display pop up notification
		notify: null,
		// payload table columns
		PayloadTableArgs: {
				fields: [
					// {
					// 	key: "payload_id",
					// 	label:"#",
					// },
					{
						key: "payload_description",
						label: "Payload Description"
					},
					{
						key: "c2_protocol",
						label: "C2 Protocol"
					},
					{
						key: "border_protection",
						label: "Border Protection",
					},
					{
						key: "host_protection",
						label: "Host Protection"
					},
					{
						key: "delete",
					}
				],
				items: [],
				sortBy: "num",
		},
	}
	// {% for path in paths %}
	// 	//Add uuid to existing ones. New ones will be empty.
	// 	data['formData'].push({description: "{{path.payload_description}}", protocol: "{{path.c2_protocol}}", borderprotection: "{{path.border_protection}}", hostprotection: "{{path.host_protection}}"})
	// {% endfor %}

	return data
}
function pageMethods() {
  methods = {
    addFile: function (event) {
      const files = Array.from(event.files)
      newFiles = files.filter(file => !this.fileList.includes(file))
      Array.prototype.push.apply(this.fileList, newFiles)
      for(let file in newFiles) {
        //Make uuid null.
        this.formData.push({file: newFiles[file], imgURL: URL.createObjectURL(newFiles[file]), uuid: null})
      }
      this.displayNotification({'title': 'Payloads added', text: 'File added to list! Make sure to save the new images.', variant:"info"})

	  //everytime you add a file, create a space for it in the payloads table
	  this.addPayload()
    },
    deleteFile: function (file) {
      //Skip if negative one in certain cases. Avoid deleting end one.
      index = this.fileList.indexOf(file.file)
      if(index != -1){
        this.fileList.splice(index,1)
        URL.revokeObjectURL(this.formData.imgURL)
      }
      //Have to get index in other array. Can ignore previous entries inside of fileList then.
      index = this.formData.indexOf(file)
      this.formData.splice(index, 1)
    },
    submitPaths: function () {
		console.log("here")
		//make sure no fields are empty
		this.PayloadTableArgs.items.forEach(element => {
				if (element.payload_description == "" || element.c2_protocol== "")
					this.notify = true
		})
		// if fields are empty show pop up notification
		if (this.notify){
			this.displayNotification({'title': 'Save Error', text: 'Empty Payloads cannot be saved. Please enter Payload data.', variant:'danger'})
			this.notify = false
		}
		else{
			const formData = new FormData()
			this.PayloadTableArgs.items.forEach(element => {
					if (element.border_protection == "true")
						element.border_protection = true
					console.log("border:"+element.border_protection +" host:"+element.host_protection)}
			)
			formData.append('data', JSON.stringify(this.PayloadTableArgs.items))
			console.log(JSON.stringify(this.PayloadTableArgs.items))

			fetch(window.location.href, {
				method: "POST",
				body: formData,
				credentials: "same-origin",
				headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
			}).then(response => {
				if (response.ok) {
				this.displayNotification({'title': 'Payload Saved', text: '', variant:'success'})
				}
			}).catch(error => {
				this.displayNotification({'title': 'Payload Empty', text: 'There was an error saving. Please wait and try again.', variant:'danger'})
			})
		}
    },
	addPayload: async function () {
		this.PayloadTableArgs.items.push({payload_description: "", c2_protocol: "", border_protection: true, host_protection: true})
	},
	deletePayload: function(item) {
		this.PayloadTableArgs.items.splice(this.PayloadTableArgs.items.indexOf(item), 1)
	},
  }
  return methods
}
</script>
{% endblock %}
