<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block active %}#addFinding{% endblock %}
{% load widget_tweaks %}
{% load utils %}

{% block style %}

<style>

  .delete:hover {
    color: #AB2317;
  }

  .over {
    opacity: .5;
    outline: 1px dashed #BBBBBB;
    outline-offset: -1px;
  }

  .image-upload {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .image-upload div {
    flex-basis: 300px;
  }

  .image-upload div img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    overflow: hidden;
    vertial-align: middle;
    border-radius: 5px;
  }

  .image-upload::after {
    flex-basis: 300px;
  }

</style>

{% endblock %}

{% block content %}
{% csrf_token %}
<div class="mt-2 px-2">
  {% if not object %}
  <sds-section v-bind="findingSectionArgs" class="mb-4">
    <template #title>
      <span class="font-bold">SELECT FINDING</span>
      <span v-if="formData.selectedFinding != null" class="font-bold">: [[formData.selectedFinding.findingName]]</span>
    </template>
    <template #nav>
      <sds-button @click="findingSectionArgs.hideContent = !findingSectionArgs.hideContent; filterFindings(''); findingSectionArgs.searchTerm = ''">
        <i class="fas fa-pencil-alt pr-2"></i>
        <i v-if="findingSectionArgs.hideContent" class="fas fa-angle-down"></i>
        <i v-else class="fas fa-angle-up"></i>
      </sds-button>
    </template>
    <div class="grid place-items-center">
      <sds-search-box class="w-1/2 place-self-center" :disableSearch="true" variant="primary" placeholder="Search Term" v-model="findingSectionArgs.searchTerm" @update:model-value="filterFindings(findingSectionArgs.searchTerm)"></sds-search-box>
      <sds-scroll-area class="px-4 pt-4 place-self-center h-96 w-11/12">
        <div v-for="finding in findingSectionArgs.findingsSearchList" :key="finding.fields.name" :id="finding.fields.name" class="grid grid-cols-2 border-b border-slate-700 hover:bg-gray-700/[.1]"  @click="selectFinding(finding)" >
          <div class="py-2 px-4">
            <div v-if="finding.fields.finding_type == 'specific'">
              <div class="font-bold">[[finding.fields.name]]</div>
                <div>[[finding.fields.category]] > [[finding.fields.gen_finding]]</div>
            </div>
            <div v-else>
              <div class="font-bold">[[finding.fields.name]]</div>
                <div>[[finding.fields.category]]</div>
            </div>
          </div>
          <div class="py-2">
            [[finding.fields.description]]
          </div>
        </div>
      </sds-scroll-area>
    </div>
    <div class="flex flex-row-reverse">

    </div>
  </sds-section>
  {% endif %}
  <sds-section v-bind="findingDetailSectionArgs" class="mb-4">
    <template #title>
      <span class="font-bold">DETAILS</span>
    </template>
    <template #nav>

    </template>
    <form id="detailForm">
      <div class="grid grid-cols-6">
        <div class="col-span-5 mb-12">
          <div class="mb-4">
            <h2 class="after:content-['*required'] after:ml-0.5 after:text-red-500 after:font-normal font-bold">Finding Description</h2>
            <span class="font-light text-gray-700">Tailor the text below to clarify the description for this specific case.</span>
            <div style="float:right">
              <sds-floating-ui
                  popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                  placement="top"
                  arrow-class="absolute bg-black w-2 h-2 rotate-45"
                  placement-top-arrow-class="-bottom-1"
                  placement-right-arrow-class="-left-1"
                  placement-bottom-arrow-class="-top-1"
                  placement-left-arrow-class="-right-1"
                  :will-open="willOpen"
                  :will-close="willClose"
              >
                <template #trigger="{ open, close }">
                  <a @click="resetDescription" @mouseover="open" @mouseout="close" style="cursor:pointer; float:right; margin:0px 0px 10px 0px"><img class="w-4 h-4" src="/static/icons/clock-rotate-left-solid.svg"></a>
                </template>
                <template #default>
                    <div class="p-2">
                      <p>Revert to original description.</p>
                    </div>
                </template>
              </sds-floating-ui>
            </div>
            <sds-textarea v-model="formData.findingDescription" :required="true" :maxlength="10000"></sds-textarea>
          </div>
          <br>
          <div class="mb-4">
            <h2 class="after:content-['*required'] after:ml-0.5 after:text-red-500 after:font-normal font-bold">Finding Remediation</h2>
            <span class="font-light text-gray-700">Tailor the text below to clarify the remediation for this specific case.</span>
            <div style="float:right">
              <sds-floating-ui
                  popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                  placement="top"
                  arrow-class="absolute bg-black w-2 h-2 rotate-45"
                  placement-top-arrow-class="-bottom-1"
                  placement-right-arrow-class="-left-1"
                  placement-bottom-arrow-class="-top-1"
                  placement-left-arrow-class="-right-1"
                  :will-open="willOpen"
                  :will-close="willClose"
              >
                <template #trigger="{ open, close }">
                  <a @click="resetRemediation" @mouseover="open" @mouseout="close" style="cursor:pointer; float:right; margin:0px 0px 10px 0px"><img class="w-4 h-4" src="/static/icons/clock-rotate-left-solid.svg"></a>
                </template>
                <template #default>
                    <div class="p-2">
                      <p>Revert to original remediation.</p>
                    </div>
                </template>
              </sds-floating-ui>
            </div>
            <br>
            <sds-textarea v-model="formData.findingRemediation" :required="true" :maxlength="10000"></sds-textarea>
          </div>
          <br>
          <div class="grid grid-cols-4 mb-4">
            <div>
              <h2 class="after:content-['*required'] after:ml-0.5 after:text-red-500 after:font-normal font-bold">Severity</h2>
              <span class="font-light text-gray-700">How severe is this finding?</span>
              <div v-for="item in findingDetailSectionArgs.severityOptions">
                <input type="radio" v-model="formData.findingSeverity" :id="item.value" :value="item.value">
                <label :for="item.value" style="padding:0px 0px 0px 5px">[[item.text]]</label>
              </div>
            </div>
            <div>
              <h2 class="after:content-['*required'] after:ml-0.5 after:text-red-500 after:font-normal font-bold">Assessment Type</h2>
              <span class="font-light text-gray-700">What kind of assessment is this?</span>
              <div v-for="item in findingDetailSectionArgs.assessmentTypeOptions">
                <input type="radio" v-model="formData.assessmentType" :id="item.value" :value="item.value">
                <label :for="item.value" style="padding:0px 0px 0px 5px">[[item.text]]</label>
              </div>
            </div>
            <div>
              <h2 class="after:content-['*required'] after:ml-0.5 after:text-red-500 after:font-normal font-bold">Mitigation</h2>
              <span class="font-light text-gray-700">Was this finding fully mitigated within the assessment timeframe?</span>
              <div v-for="item in findingDetailSectionArgs.mitigationOptions">
                <input type="radio" v-model="formData.findingMitigation" :id="item.value" :value="item.value">
                <label :for="item.value" style="padding:0px 0px 0px 5px">[[item.text]]</label>
              </div>
            </div>
          </div>
          <br>
          <div>
            <h2 class="font-bold">Affected Systems</h2>
            <span class="font-light text-gray-700">What affected system(s) does this finding relate to?</span>
            <sds-multiselect class="w-3/5" v-bind="findingDetailSectionArgs.affectedSystemArgs" v-model="findingDetailSectionArgs.affectedSystemArgs.affectedSystem" @update-selected="updateAffectedSystems" @update:model-value="performSearch"></sds-multiselect>
          </div>
        </div>

      </div>
    </form>
  </sds-section>

  <sds-modal size="lg" v-model="screenshotPreview">
  <template #title>
    <p>Screenshot Preview</p>
  </template>
    <p class="mb-2"><img :src="[[screenshotURL]]"></p>
  </sds-modal>

  <sds-section v-bind="findingImageSectionArgs" class="mb-4">
    <template #title>
      <span class="font-bold">SCREENSHOTS</span>
    </template>
    <div class="grid">
      <div class="mb-4">
        <h2 class="after:font-normal font-bold">Screenshot Description</h2>
        <span class="font-light text-gray-700">Describe the relevance of the screenshots to this finding and to one another (if applicable).</span>
        <sds-textarea v-model="formData.screenshotDescription" :required="false" :rows="3" placeholder="These screenshots show..." :maxlength="10000"></sds-textarea>
      </div>
      <br>
      <sds-file-uploader class="place-self-center w-full" v-bind="findingImageSectionArgs.fileUploaderArgs" @add=addFile>
      </sds-file-uploader>
      <br>
      <ul class="image-upload">
        <div v-for="(screenshot, i) in formData.screenshots" :key="screenshot" class="screenshot" draggable="true" @dragover="(e) => onDragOver(screenshot, i, e)" @dragend="(e) => finishDrag(screenshot, i, e)" @dragstart="(e) => startDrag(screenshot, i, e)" :class="{over: (screenshot === over.screenshot && screenshot !== dragFrom), [over.dir]: (screenshot === over.screenshot && screenshot !== dragFrom) }">
          <sds-button @click="screenshotModal(screenshot)"><img :src="[[screenshot.imgURL]]"></sds-button>
          <div style="float:left; padding:19px 15px 0px 10px; cursor:pointer"><div style="width:15px; height:2px; background-color:gray; margin:2px 0;"></div><div style="width:15px; height:2px; background-color:gray; margin:2px 0;"></div></div><div class="delete" style="float:right; padding:0px 8px 0px 0px; font-size:20pt"><sds-button @click="deleteFile(screenshot)">&#10799;</sds-button></div>
          <br>
          <sds-textarea v-model="screenshot.caption" :rows="1" placeholder="Caption" :maxlength="250"></sds-textarea>
        </div>
      </ul>
    </div>
  </sds-section>
  <sds-section v-bind="kevSectionArgs" class="mb-16">
    <template #title>
      <span class="font-bold">KNOWN EXPLOITED VULNERABILITIES</span>
    </template>
    Select all Known Exploited Vulnerabilities (KEVs) that pertain to this finding (if any). In order to populate the list below, KEVs that have been discovered manually or through Nessus must be added via the <b>KEV Catalog</b> page.<br><br>
    <div class="grid place-items-center">
      <sds-search-box class="w-1/2 place-self-center" :disableSearch="true" variant="primary" placeholder="Search Term" v-model="kevSectionArgs.searchTerm" @update:model-value="filterKEVs(kevSectionArgs.searchTerm)"></sds-search-box>
      <sds-scroll-area class="px-4 pt-4 place-self-center h-96 w-11/12">
        <div v-for="kev in kevSectionArgs.kevSearchList" :key="kev.fields.cve_id" class="grid grid-cols-2 border-b border-slate-700 hover:bg-gray-700/[.1]">
          <div class="py-2 px-4">
            <div class="font-bold">
              <input v-if="formData.kevs.includes(kev.fields.cve_id)" type="checkbox" :id="kev.fields.cve_id" name="kev" :value="kev.fields.cve_id" :checked="true" @click=checkKEV(kev.fields.cve_id)><input v-else type="checkbox" :id="kev.fields.cve_id" name="kev" :value="kev.fields.cve_id" @click=checkKEV(kev.fields.cve_id)>  [[kev.fields.cve_id]]</div>
              <div>[[kev.fields.vulnerability_name]]</div>
            </div>
            <div class="py-2">
              [[kev.fields.description]]
            </div>
          </div>
        </sds-scroll-area>
    </div>
    <br>
    <sds-button class="float-right" variant="primary" @click="submitFinding"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
    <br><br>
  </sds-section>
</div>
{% endblock %}

{% block scripts %}
<script>
function pageData() {
  let pageData = {
    formData: {
      selectedFinding: null,
      findingDescription: "{{ object.description | escapejs }}",
      findingRemediation: "{{ object.remediation | escapejs }}",
      originalDescription: "{{ object.finding.description | escapejs }}",
      originalRemediation: "{{ object.finding.remediation | escapejs }}",
      findingSeverity: "{{ object.severity.severity_name }}",
      assessmentType: "{{ object.assessment_type }}",
      findingMitigation: "{{ object.mitigation }}",
      affectedSystemList: "",
      screenshotDescription: "{{ object.screenshot_description | escapejs }}",
      kevs: [],
      screenshots: [],
    },
    screenshotPreview: false,
    screenshotURL: null,
    fileList: [],
    kevSectionArgs: {
      type: "accented",
      hideContent: false,
      kevSearchList: [],
      searchTerm: "",
    },
    findingImageSectionArgs: {
      type: "accented",
      hideContent: false,
      fileUploaderArgs: {
        accept: ".jpg, .jpeg, .png",
        allowedFiletypes: ["image/jpg", "image/jpeg", "image/JPG", "image/JPEG", "image/png", "image/PNG"],
        helperText: "Upload a JPG, JPEG, or PNG under 10MB.",
        multiple: true
      }
    },
    over: {},
    startLoc: 0,
    dragging: false,
    dragFrom: {},
    findingSectionArgs: {
      type: "accented",
      hideContent: false,
      findingsSearchList: [],
      searchTerm: "",
    },
    findingDetailSectionArgs: {
      type: "accented",
      hideContent: false,
      affectedSystemArgs: {
        canLoopOptions: true,
        taggable: true,
        multiple: true,
        defaultMsg: "Select one or multiple affected systems",
        maxItems: 1000,
        maxlength: 255,
        showClear: true,
        selected: [],
        options: [],
        affectedSystem: "",
        hideSelectedOptions: true,
        openDirection: "bottom"
      },
      severityOptions: [
        {
          id: 1,
          value: "Critical",
          text: "Critical"
        },
        {
          id: 2,
          value: "High",
          text: "High"
        },
        {
          id: 3,
          value: "Medium",
          text: "Medium"
        },
        {
          id: 4,
          value: "Low",
          text: "Low"
        },
        {
          id: 5,
          value: "Informational",
          text: "Informational"
        }
      ],
      assessmentTypeOptions: [
        {
          id: 1,
          value: "External/Internal",
          text: "External/Internal"
        },
        {
          id: 2,
          value: "External",
          text: "External"
        },
        {
          id: 3,
          value: "Internal",
          text: "Internal"
        },
        {
          id: 4,
          value: "Phishing",
          text: "Phishing"
        }
      ],
      mitigationOptions: [
        {
          id: 1,
          value: "True",
          text: "Yes"
        },
        {
          id: 2,
          value: "False",
          text: "No"
        }
      ]
    },
    findingData: function() {
      var finding_list =[];
      var findings = {{ findings | safe }};
      for (i = 0; i< findings.length; i++){
        const proxy = new Proxy(findings[i], {});
        finding_list.push(proxy);
      }

      return finding_list;
    },
    kevData: function() {
      var kev_list = [];
      var kevs = {{ kevs | safe }};
      for (i = 0; i < kevs.length; i++) {
        const proxy = new Proxy(kevs[i], {});
        kev_list.push(proxy);
      }

      return kev_list;
    },
    affectedSystemsData: function() {
      var as_list = [];
      var systems = {{ affected_systems | safe }};
      for (i = 0; i < systems.length; i++) {
        const system = {
          key: i,
          value: systems[i].fields.name,
          isNewTag: false,
        }
        const proxy = new Proxy(system, {});
        as_list.push(proxy);
      }

      return as_list;
    },
  }

  pageData.findingSectionArgs.findingsSearchList = pageData.findingData().filter(finding => finding)
  pageData.kevSectionArgs.kevSearchList = pageData.kevData().filter(kev => kev)
  pageData.findingDetailSectionArgs.affectedSystemArgs.options = pageData.affectedSystemsData().filter(system => system)

  {% if object %}
    pageData.formData.selectedFinding = "{{ object }}"
    systems = []
    index = pageData.findingDetailSectionArgs.affectedSystemArgs.options.length

    {% for s in object.affected_systems.all %}
      sys = {key: index, value: "{{s.name}}", isNewTag: false}
      proxy = new Proxy(sys, {})
      systems.push(proxy)
      index++
    {% endfor %}

    pageData.findingDetailSectionArgs.affectedSystemArgs.selected = systems
    pageData.formData.affectedSystemList = systems

    {% for screenshot in screenshots %}
      imgURL = window.location.origin + "/media/" + "{{screenshot.file}}"
      caption = "{{screenshot.caption}}"
      pageData.formData.screenshots.push({order: "{{screenshot.order}}", uuid: "{{screenshot.uuid}}", imgURL: imgURL, caption: caption})
    {% endfor %}

    {% for kev in object.KEV.all %}
      pageData.formData.kevs.push("{{kev.cve_id}}")
    {% endfor %}
  {% endif %}

  return pageData
}


function pageCreated() {
  if ("{{ object }}") {
    this.baseData.layoutArgs.pageTitle = "Edit Finding: {{ object.uploaded_finding_name }}"
  }
  else {
    this.baseData.layoutArgs.pageTitle = "Add Finding"
  }
}

function pageMethods() {
  pageFunctions = {
    screenshotModal: function (screenshot) {
      this.screenshotURL = screenshot['imgURL']
      this.screenshotPreview = true
    },
    selectFinding: function(finding){
      if (this.formData.selectedFinding == null) {
        this.formData.selectedFinding = finding
        element = document.getElementById(finding.fields.name)

        element.classList.remove("hover:bg-gray-700/[.1]")
        element.classList.add("bg-blue-300")
        element.classList.add("hover:bg-blue-200")

        this.formData.findingDescription = this.formData.selectedFinding.fields.description
        this.formData.findingRemediation = this.formData.selectedFinding.fields.remediation
        this.formData.originalDescription = this.formData.selectedFinding.fields.description
        this.formData.originalRemediation = this.formData.selectedFinding.fields.remediation
        this.formData.findingSeverity = this.formData.selectedFinding.fields.severity
      }
      else if (this.formData.selectedFinding == finding) {
        this.formData.selectedFinding = null
        element = document.getElementById(finding.fields.name)
        element.classList.remove("bg-blue-300")
        element.classList.remove("hover:bg-blue-200")
        element.classList.add("hover:bg-gray-700/[.1]")

        this.formData.findingDescription = null
        this.formData.findingRemediation = null
        this.formData.originalDescription = null
        this.formData.originalRemediation = null
        this.formData.findingSeverity = null
      }
      else {
        oldElement = document.getElementById(this.formData.selectedFinding.fields.name)
        newElement = document.getElementById(finding.fields.name)
        this.formData.selectedFinding = finding
        oldElement.classList.remove("bg-blue-300")
        oldElement.classList.remove("hover:bg-blue-200")
        oldElement.classList.add("hover:bg-gray-700/[.1]")
        newElement.classList.remove("hover:bg-gray-700/[.1]")
        newElement.classList.add("bg-blue-300")
        newElement.classList.add("hover:bg-blue-200")

        this.formData.findingDescription = this.formData.selectedFinding.fields.description
        this.formData.findingRemediation = this.formData.selectedFinding.fields.remediation
        this.formData.originalDescription = this.formData.selectedFinding.fields.description
        this.formData.originalRemediation = this.formData.selectedFinding.fields.remediation
        this.formData.findingSeverity = this.formData.selectedFinding.fields.severity
      }
    },
    addFile: function (event) {
      const files = Array.from(event.files)
      newFiles = files.filter(file => !this.fileList.includes(file))
      imgOrder = this.fileList.length
      Array.prototype.push.apply(this.fileList, newFiles)
      for(let file in newFiles) {
        this.formData.screenshots.push({order: this.formData.screenshots.length + 1, imgOrder: imgOrder, uuid: null, imgURL: URL.createObjectURL(newFiles[file]), caption: ""})
        imgOrder++
      }
      this.displayNotification({'title': 'Image(s) Added', text: 'Image(s) uploaded successfully. Be sure to save before leaving this page.', variant:"info", autoHideDelay:10000})
    },
    deleteFile: function (screenshot) {
      index = this.formData.screenshots.indexOf(screenshot.file)
      if(index != -1){
        this.formData.screenshots.splice(index, 1)
        URL.revokeObjectURL(this.formData.screenshots.imgURL)
      }
      
      index = this.formData.screenshots.indexOf(screenshot)
      this.formData.screenshots.splice(index, 1)

      this.formData.screenshots.forEach((screenshot, index) => {
        screenshot.order = index + 1
      })
    },
    resetDescription: function () {
      objectDescription = this.formData.originalDescription
      this.formData.findingDescription = objectDescription
    },
    resetRemediation: function () {
      objectRemediation = this.formData.originalRemediation;
      this.formData.findingRemediation = objectRemediation
    },
    startDrag(screenshot, i, e) {
      this.startLoc = e.clientY
      this.dragging = true
      this.dragFrom = screenshot
    },
    finishDrag(screenshot, pos) {
      this.formData.screenshots.splice(pos, 1)
      this.formData.screenshots.splice(this.over.pos, 0, screenshot)
      this.over = {}

      this.formData.screenshots.forEach((s, index) => {
        s.order = index + 1
      })
    },
    onDragOver(screenshot, pos, e) {
      const dir = (this.startLoc < e.clientY) ? 'down': 'up';
      setTimeout(() => {
        this.over = { screenshot, pos, dir };
      }, 50)
    },
    submitFinding: function () {

      if (this.formData.selectedFinding == null) {
        this.displayNotification({'title': 'Save Error', text: 'A valid finding must be selected from the list before saving.', variant:'danger'})
      }

      else if (this.formData.findingDescription == null || this.formData.findingDescription == "") {
        this.displayNotification({'title': 'Save Error', text: 'A finding description must be entered before saving.', variant:'danger'})
      }

      else if (this.formData.findingRemediation == null || this.formData.findingRemediation == "") {
        this.displayNotification({'title': 'Save Error', text: 'A remediation description must be entered before saving.', variant:'danger'})
      }

      else if (this.formData.findingSeverity == null || this.formData.findingSeverity == "") {
        this.displayNotification({'title': 'Save Error', text: 'A valid finding severity must be selected before saving.', variant:'danger'})
      }

      else if (this.formData.assessmentType == null || this.formData.assessmentType == "") {
        this.displayNotification({'title': 'Save Error', text: 'A valid assessment type must be selected before saving.', variant:'danger'})
      }

      else if (this.formData.findingMitigation == null || this.formData.findingMitigation == "") {
        this.displayNotification({'title': 'Save Error', text: 'A valid mitigation status must be selected before saving.', variant:'danger'})
      }

      else {
        const formData = new FormData()
        formData.append('data', JSON.stringify(this.formData))

        let num = 0
        
        for(const file in this.fileList) {
          formData.append('file' + num.toString(), this.fileList[file])
          num += 1
        }

        fetch(window.location.href, {
          method: "POST",
          body: formData,
          credentials: "same-origin",
          headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
        }).then(response => {
          if (response.ok) {
            this.displayNotification({'title': 'Finding Saved', text: 'Finding saved successfully. Redirecting to dashboard...', variant:'success'})
            setTimeout(() => {this.redirectLink("{% url 'index' %}")}, 2000)
          }
          else {
            this.displayNotification({title: "Error Saving Data", text: "Bad response received from server. Check for errors in form and try again.", variant: "danger"})
          }
        }).catch(error => {
          this.displayNotification({'title': 'Error Saving Data', variant:'danger'})
        })
      }
    },
    filterFindings: function(searchTerm) {
      this.findingSectionArgs.findingsSearchList = this.findingData().filter(finding => finding.fields.name.toLowerCase().includes(searchTerm.toLowerCase()) || finding.fields.name.toLowerCase().includes(searchTerm.toLowerCase()) || finding.fields.gen_finding.toLowerCase().includes(searchTerm.toLowerCase()) || finding.fields.description.toLowerCase().includes(searchTerm.toLowerCase()))

      setTimeout(() => {
        if(this.formData.selectedFinding != null){
          element = document.getElementById(this.formData.selectedFinding.fields.name)
          if(element != null){
            element.classList.remove("hover:bg-gray-700/[.1]")
            element.classList.add("bg-blue-300")
            element.classList.add("hover:bg-blue-200")
          }
        }
      }, "50")

    },
    checkKEV: function(kev) {
      if (document.getElementById(kev).checked) {
        this.formData.kevs.push(kev)
      }
                
      else {
        index = this.formData.kevs.indexOf(kev)
        this.formData.kevs.splice(index, 1)
      }
    },
    filterKEVs: function(searchTerm) {
      this.kevSectionArgs.kevSearchList = this.kevData().filter(kev => kev.fields.vulnerability_name.toLowerCase().includes(searchTerm.toLowerCase()) || kev.fields.cve_id.toLowerCase().includes(searchTerm.toLowerCase()) || kev.fields.description.toLowerCase().includes(searchTerm.toLowerCase()) || kev.fields.vendor_project.toLowerCase().includes(searchTerm.toLowerCase()) || kev.fields.product.toLowerCase().includes(searchTerm.toLowerCase()))
    },
    updateAffectedSystems: function(selections) {
      this.findingDetailSectionArgs.affectedSystemArgs.selected = selections
      this.formData.affectedSystemList = selections
    },
    performSearch: function(value){
      this.findingDetailSectionArgs.affectedSystemArgs.options = this.affectedSystemsData().filter(sys => sys.value.toLowerCase().includes(value.toLowerCase()))
    }
  }
  return pageFunctions
}
</script>
{% endblock %}
