<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block content %}

<div id="page-content-wrapper">
	<div class="container-fluid">
		<h1>Delete Finding</h1>
		<hr />


		<p>Are you sure you want to delete the finding: <strong>{{ object.finding.finding_ID }}: {{ object }}</strong>?</p>

		<form action="" method="POST">
		  {% csrf_token %}

		  <button type="submit" action="" class="btn btn-primary">Yes, delete</button>

		</form>

	</div>
</div>

{% endblock %}
