<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}

{% block style %}
<style>
  .image-upload {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .image-upload div {
    flex-basis: 300px;
  }

  .image-upload div img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    overflow: hidden;
    vertial-align: middle;
    border-radius: 5px;
  }

  .image-upload::after {
    flex-basis: 300px;
  }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}

<sds-section class="mb-4" type="accented">
  <template #title>
    <span class="font-bold">FINDING DETAILS</span><div style="float:right; padding:0px 0px 0px 10px"><sds-button variant="danger" size="sm" @click="redirectLink('{% url "finding_delete" object.slug %}')">Delete</sds-button></div> <div style="float:right"><sds-button variant="primary" size="sm" @click="redirectLink('{% url "finding_edit" object.slug %}')">Edit</sds-button></div>
  </template>

  <div class="grid grid-cols-2 mb-4">
    <div style="float:left">
      <b>Created:</b> {{ object.created_at | naturaltime }}<br><br>
      <b>Updated:</b> {{ object.updated_at | naturaltime }}<br><br>
      <b>Severity:</b> {{ object.severity }}<br><br>
      <b>Assessment Type:</b> {{ object.assessment_type }}<br><br>
      <b>Mitigation:</b> {% if object.mitigation %}Mitigated{% else %}Not Mitigated{% endif %}<br><br>
      <b>Affected Systems:</b> [[affected_systems]]<br><br>
    </div>
    <div style="float:right">
      <b>Description:</b> {{ object.description }}<br><br>
      <b>Remediation:</b> {{ object.remediation }}<br><br>
    </div>
  </div>
</sds-section>

<sds-modal size="lg" v-model="screenshotPreview">
  <template #title>
    <p>Screenshot [[screenshotOrder]] Preview</p>
  </template>
    <p class="mb-2"><img :src="[[screenshotURL]]"></p>
</sds-modal>

<sds-section class="mb-4" type="accented">
  <template #title>
    <span class="font-bold">SCREENSHOTS</span>
  </template>
  <div>
    {{ object.screenshot_description }}<br><br>
  </div>
  <ul class="image-upload">
    <div v-for="screenshot in screenshots" align="center">
      <sds-button @click="screenshotModal(screenshot)"><img :src="[[screenshot.url]]"></sds-button>
      <div style="color:#555555; font-size:10pt; padding: 10px 0px">
        <i>[[screenshot.caption]]</i>
      </div>
    </div>
  </ul>
</sds-section>

<sds-section class="mb-4" type="accented">
  <template #title>
    <span class="font-bold">KNOWN EXPLOITED VULNERABILITIES</span>
  </template>
  <ul class="grid grid-cols-2">
    <div v-for="kev in kevs">
      <li><b>[[kev.cve]]:</b> [[kev.name]]</li>
    </div>
  </ul>
</sds-section>

{% endblock %}


{% block scripts %}

<script>

  function pageData() {
    let pageData = {
      affected_systems: "",
      screenshots: [],
      screenshotPreview: false,
      screenshotURL: null,
      screenshotOrder: null,
      kevs: [],
    }

    systems = []

    {% for sys in object.affected_systems.all %}
      systems.push("{{sys.name}}")
    {% endfor %}

    {% for screenshot in screenshots %}
      imgURL = window.location.origin + "/media/" + "{{screenshot.file}}"
      pageData.screenshots.push({url: imgURL, caption: "{{screenshot.caption}}", order: "{{screenshot.order}}"})
    {% endfor %}

    {% for k in object.KEV.all %}
      pageData.kevs.push({name: "{{k.vulnerability_name}}", cve: "{{k.cve_id}}"})
    {% endfor %}

    pageData.affected_systems = systems.join(', ')

    return pageData
  }

  function pageCreated() {
    this.baseData.layoutArgs.pageTitle = "{{ object.uploaded_finding_name }} Details"
  }

  function pageMethods() {
    methods = {
      screenshotModal: function (screenshot) {
        this.screenshotOrder = screenshot['order']
        this.screenshotURL = screenshot['url']
        this.screenshotPreview = true
      },
      redirectLink: function (link) {
        window.location.href = link
      },
    }

    return methods
  }

</script>

{% endblock %}
