<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% block active %}#activityTracker{% endblock %}

{% block style %}
<style>

.tab {
	width: 100%;
}

.tab div {
	width: 14%;
}

.tab div button {
	background-color: #444;
	color: #ddd;
	border: 1px solid #ddd;
	outline: none;
	cursor: pointer;
	padding: 16px 16px;
	transition: 0.3s;
	width: 100%;
}

.tab div button:hover {
	background-color: #555;
	color: #ddd;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	padding: 16px 16px;
	transition: 0.3s;
}

.tab div.active button {
	background-color: #fff;
	color: #444;
	border-bottom: 2px solid #444;
}

.help {
	color: #555;
	font-size:10pt;
}

h2 {
	font-size:13pt;
	font-weight:bold;
	color:#333333;
	padding:0px 0px 10px 0px;
}

h3 {
	font-size:12pt;
	font-weight:bold;
	font-style:italic;
	color:#555555;
	padding:0px 0px 10px 0px;
}

</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<sds-section class="mb-4">
    
    <div class="tab" align="center">
    	<div :class="{ active: tabs.infrastructure }"><sds-button @click="openTab('infrastructure')">Infrastructure</sds-button></div>
    	<div :class="{ active: tabs.lateral_movement }"><sds-button @click="openTab('lateral_movement')">Lateral Movement</sds-button></div>
    	<div :class="{ active: tabs.files }"><sds-button @click="openTab('files')">Files</sds-button></div>
    	<div :class="{ active: tabs.interactive_logons }"><sds-button @click="openTab('interactive_logons')">Interactive Logons</sds-button></div>
    	<div :class="{ active: tabs.scans }"><sds-button @click="openTab('scans')">High Impact Scans</sds-button></div>
    	<div :class="{ active: tabs.significant_events }"><sds-button @click="openTab('significant_events')">Significant Events</sds-button></div>
    	<div :class="{ active: tabs.artifacts }"><sds-button @click="openTab('artifacts')">Artifacts</sds-button></div>
    </div>
    <!-- INFRASTRUCTURE -->
    <div v-show="tabs.infrastructure" id="inf">
    	<br>
    	<h2>EXTERNAL</h2>
    	<h3>Teamservers</h3>
    	<div class="grid grid-cols-9 gap-2 mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="ExtTeamserverTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="teamserver0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(domain)="{item}">
						<sds-textarea v-model="item.domain" rows="1" placeholder="dhs-test.com" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(killdate)="{item}">
						<sds-datepicker v-model="item.killdate" :min="calendar.min" :max="calendar.max" mode="date" :size="calendar.size"/>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(ExtTeamserverTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(ExtTeamserverTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    	<h3>Phishing</h3>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="PhishingTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="gophish0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(domain)="{item}">
						<sds-textarea v-model="item.domain" rows="1" placeholder="mail.dhs-test.com" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(PhishingTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(PhishingTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    	<h3>Redirectors</h3>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="RedirectorTableArgs">
					<template #cell(url)="{item}">
						<sds-textarea v-model="item.url" rows="1" placeholder="https://d123456abcdef.cloudfront.net" :maxlength="200"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(RedirectorTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(RedirectorTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    	<h3>Workstations</h3>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="ExtWorkstationTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="kali0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(os)="{item}">
						<sds-select v-model="item.os" :options="osOptions"/>
					</template>
					<template #cell(operator)="{item}">
						<sds-textarea v-model="item.operator" rows="1" placeholder="Jane Doe" :maxlength="50"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(ExtWorkstationTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(ExtWorkstationTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
			<h2>INTERNAL</h2>
    	<h3>Teamservers</h3>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="IntTeamserverTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="TeamServer" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(domain)="{item}">
						<sds-textarea v-model="item.domain" rows="1" placeholder="dhs-test.com" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(killdate)="{item}">
						<sds-datepicker v-model="item.killdate" :min="calendar.min" :max="calendar.max" mode="date" :size="calendar.size"/>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(IntTeamserverTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(IntTeamserverTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
			<h3>Workstations</h3>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="IntWorkstationTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="kali" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(os)="{item}">
						<sds-select v-model="item.os" :options="osOptions"/>
					</template>
					<template #cell(operator)="{item}">
						<sds-textarea v-model="item.operator" rows="1" placeholder="John Doe" :maxlength="50"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(IntWorkstationTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(IntWorkstationTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- LATERAL MOVEMENT -->
    <div v-show="tabs.lateral_movement" id="lat">
    	<br><br>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="LatTableArgs">
					<template #cell(beacon)="{item}">
						<sds-datepicker v-model="item.beacon" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="workstation0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(account)="{item}">
						<sds-textarea v-model="item.account" rows="1" placeholder="jdoe" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(moved)="{item}">
						<sds-textarea v-model="item.moved" rows="1" placeholder="workstation1" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(method)="{item}">
						<sds-textarea v-model="item.method" rows="1" placeholder="Password reuse" :maxlength="200"></sds-textarea>
					</template>
					<template #cell(callback)="{item}">
						<sds-textarea v-model="item.callback" rows="1" placeholder="127.0.0.1" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(notes)="{item}">
						<sds-textarea v-model="item.notes" rows="1" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(LatTableArgs, item)"><img class="w-10 h-10" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(LatTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- FILES -->
    <div v-show="tabs.files" id="fil">
    	<br><br>
    	<div class="mb-8">
    		<div class="help">Log all files that were dropped to disk during testing here, then use the Artifacts tab of this tracker to list the corresponding hashes.</div>
    		<br>
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="FileTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="workstation0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(location)="{item}">
						<sds-textarea v-model="item.location" rows="1" placeholder="C:\Windows\Temp" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(filename)="{item}">
						<sds-textarea v-model="item.filename" rows="1" placeholder="file.exe" :maxlength="200"></sds-textarea>
					</template>
					<template #cell(status)="{item}">
						<sds-select v-model="item.status" :options="deleteOptions"/>
					</template>
					<template #cell(created)="{item}">
						<sds-datepicker v-model="item.created" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(deleted)="{item}">
						<sds-datepicker v-model="item.deleted" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(FileTableArgs, item)"><img class="w-10 h-10" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(FileTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- INTERACTIVE LOGONS -->
    <div v-show="tabs.interactive_logons" id="int">
    	<br><br>
    	<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="IntLogonsTableArgs">
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="workstation0" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1" :maxlength="15"></sds-textarea>
					</template>
					<template #cell(account)="{item}">
						<sds-textarea v-model="item.account" rows="1" placeholder="jdoe" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(method)="{item}">
						<sds-textarea v-model="item.method" rows="1" placeholder="WMIEXEC" :maxlength="200"></sds-textarea>
					</template>
					<template #cell(logon)="{item}">
						<sds-datepicker v-model="item.logon" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(logoff)="{item}">
						<sds-datepicker v-model="item.logoff" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(operator)="{item}">
						<sds-textarea v-model="item.operator" rows="1" :maxlength="50"></sds-textarea>
					</template>
					<template #cell(notes)="{item}">
						<sds-textarea v-model="item.notes" rows="1" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(IntLogonsTableArgs, item)"><img class="w-10 h-10" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(IntLogonsTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- HIGH IMPACT SCANS -->
    <div v-show="tabs.scans" id="sca">
    	<br><br>
    	<div class="mb-8">
    		<div class="help">Use this tab to log all scanning activity that involved a significant number of targets (e.g., an entire domain or a large pool of hosts) and/or scanning activity that could be considered intrusive or disruptive. Fill in the IP range and/or Domain fields, if relevant. Otherwise, clarify what the scan entailed in the Notes field.</div>
    		<br>
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="ScanTableArgs">
					<template #cell(type)="{item}">
						<sds-textarea v-model="item.type" rows="1" placeholder="Host-based vulnerability scan" :maxlength="200"></sds-textarea>
					</template>
					<template #cell(tool)="{item}">
						<sds-textarea v-model="item.tool" rows="1" placeholder="Nessus" :maxlength="100"></sds-textarea>
					</template>
					<template #cell(range)="{item}">
						<sds-textarea v-model="item.range" rows="1" placeholder="192.168.1.0/24" :maxlength="1000"></sds-textarea>
					</template>
					<template #cell(domain)="{item}">
						<sds-textarea v-model="item.domain" rows="1" placeholder="domain.local" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(start)="{item}">
						<sds-datepicker v-model="item.start" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(end)="{item}">
						<sds-datepicker v-model="item.end" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(notes)="{item}">
						<sds-textarea v-model="item.notes" rows="1" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(ScanTableArgs, item)"><img class="w-10 h-10" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(ScanTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- SIGNIFICANT EVENTS -->
    <div v-show="tabs.significant_events" id="sig">
    	<br><br>
    	<div class="mb-8">
    		<div class="help">Use this tab to log any significant activity that is not encompassed by any of the other tabs. This may include incidents where resources were taken offline, exploitation activity that is worth noting, or anything else the entity being targeted may wish to have record of.</div>
    		<br>
    		<sds-table :fields="fields" :items="items" class="table-prose" v-bind="SigTableArgs">
					<template #cell(event)="{item}">
						<sds-textarea v-model="item.event" rows="1" placeholder="Unintentional DoS of some.server.com" :maxlength="500"></sds-textarea>
					</template>
					<template #cell(notes)="{item}">
						<sds-textarea v-model="item.notes" rows="1" :maxlength="1000"></sds-textarea>
					</template>
					<template #cell(start)="{item}">
						<sds-datepicker v-model="item.start" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(end)="{item}">
						<sds-datepicker v-model="item.end" :min="dateTime.min" :max="dateTime.max" mode="dateTime" :size="dateTime.size"/>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteRow(SigTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addRow(SigTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div><br><br>
    </div>
    <!-- ARTIFACTS -->
    <div v-show="tabs.artifacts" id="art">
    	<br><br>
    	<div class="mb-8">
    		<div class="help">Use this form to upload any files that were dropped to disk during testing (e.g., payload testing, phishing campaign, spawning a beacon, etc.) and select 'Save' once the files are uploaded to automatically generate their hashes. Files can also be logged manually by adding new rows and inputting the corresponding hashes (e.g., for files that are too large to upload).</div>
    		<br>
			<sds-file-uploader v-bind="fileUploadArgs" @add="addFile"></sds-file-uploader>
			<br><br>
    		<sds-table :fields="fields" :items="items" class="table-prose" v-bind="ArtifactTableArgs">
				<template #cell(name)="{item}">
					<sds-textarea v-model="item.name" rows="1" placeholder="file.exe" :maxlength="200"></sds-textarea>
				</template>
				<template #cell(description)="{item}">
					<sds-textarea v-model="item.description" rows="1" placeholder="phishing payload" :maxlength="500"></sds-textarea>
				</template>
				<template #cell(md5)="{item}">
					<sds-textarea v-model="item.md5" rows="1" :maxlength="32"></sds-textarea>
				</template>
				<template #cell(sha1)="{item}">
					<sds-textarea v-model="item.sha1" rows="1" :maxlength="40"></sds-textarea>
				</template>
				<template #cell(sha256)="{item}">
					<sds-textarea v-model="item.sha256" rows="1" :maxlength="64"></sds-textarea>
				</template>
				<template #cell(delete)="{item}">
					<sds-button type="button" @click="deleteRow(ArtifactTableArgs, item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
				</template>
			</sds-table>
			<sds-button type="button" @click="addRow(ArtifactTableArgs)"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
		</div><br><br>
    </div>
    <br>
    <sds-button variant="primary" class="float-right" @click="submitTracker"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
    <br><br>
</sds-section>
{% endblock %}

{% block scripts %}
<script>

	function pageData() {
		let pageData = {
			formData: [],
			fileList: [],
			fileUploadArgs: {
				helperText: "Upload one or more files and select 'Save' to automatically generate their corresponding hashes. Each file should be less than 200 MB.",
				accept: "",
				name: "artifactUpload",
				multiple: true,
			},
			tabs: {
				infrastructure: true,
				lateral_movement: false,
				files: false,
				interactive_logons: false,
				scans: false,
				significant_events: false,
				artifacts: false
			},
			calendar: {
				date: null,
				max: null,
				min: null,
				mode: 'date',
				size: 'md'
			},
			dateTime: {
				date: null,
				max: null,
				min: null,
				mode: 'dateTime',
				size: 'md'
			},
			osOptions: [
				{ id: 1, value: 'Kali', text: 'Kali'},
				{ id: 2, value: 'macOS', text: 'macOS'},
				{ id: 3, value: 'Windows', text: 'Windows'},
				{ id: 4, value: 'Linux', text: 'Linux'},
				{ id: 5, value: 'ESXi', text: 'ESXi'},
				{ id: 6, value: 'Other', text: 'Other'},
			],
			deleteOptions: [
				{ id: 1, value: 'D', text: 'Deleted'},
				{ id: 2, value: 'N', text: 'Not Deleted'},
			],
			ExtTeamserverTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "domain",
						label: "Domain",
						sortable: true
					},
					{
						key: "killdate",
						label: "Beacon Kill Date",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "ext-ts",
				items: []
			},
			PhishingTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "domain",
						label: "Domain",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "phi",
				items: []
			},
			RedirectorTableArgs: {
				fields: [
					{
						key: "url",
						label: "URL",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "red",
				items: []
			},
			ExtWorkstationTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "os",
						label: "Operating System",
						sortable: true
					},
					{
						key: "operator",
						label: "Operator",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "ext-ws",
				items: []
			},
			IntTeamserverTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "domain",
						label: "Domain",
						sortable: true
					},
					{
						key: "killdate",
						label: "Beacon Kill Date",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "int-ts",
				items: []
			},
			IntWorkstationTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "os",
						label: "Operating System",
						sortable: true
					},
					{
						key: "operator",
						label: "Operator",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "int-ws",
				items: []
			},
			LatTableArgs: {
				fields: [
					{
						key: "beacon",
						label: "Initial Beacon",
						sortable: true
					},
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "account",
						label: "Account Used",
						sortable: true,
					},
					{
						key: "moved",
						label: "Host Moved From",
						sortable: true,
					},
					{
						key: "method",
						label: "Movement Method",
						sortable: true,
					},
					{
						key: "callback",
						label: "Callback Server",
						sortable: true,
					},
					{
						key: "notes",
						label: "Notes",
						sortable: true,
					},
					{
						key: "delete",
					}
				],
				name: "lat",
				items: []
			},
			FileTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "location",
						label: "File Location",
						sortable: true
					},
					{
						key: "filename",
						label: "File Name",
						sortable: true,
					},
					{
						key: "status",
						label: "Status",
						sortable: true,
					},
					{
						key: "created",
						label: "Date/Time Created",
						sortable: true,
					},
					{
						key: "deleted",
						label: "Date/Time Deleted",
						sortable: true,
					},
					{
						key: "delete",
					}
				],
				name: "fil",
				items: []
			},
			IntLogonsTableArgs: {
				fields: [
					{
						key: "hostname",
						label: "Hostname",
						sortable: true
					},
					{
						key: "ip",
						label: "IP Address",
						sortable: true
					},
					{
						key: "account",
						label: "Account",
						sortable: true
					},
					{
						key: "method",
						label: "Method",
						sortable: true,
					},
					{
						key: "logon",
						label: "Logon Date/Time",
						sortable: true
					},
					{
						key: "logoff",
						label: "Logoff Date/Time",
						sortable: true
					},
					{
						key: "operator",
						label: "Operator",
						sortable: true
					},
					{
						key: "notes",
						label: "Notes",
						sortable: true,
					},
					{
						key: "delete",
					}
				],
				name: "int",
				items: []
			},
			ScanTableArgs: {
				fields: [
					{
						key: "type",
						label: "Scan Type",
						sortable: true
					},
					{
						key: "tool",
						label: "Tool Used",
						sortable: true
					},
					{
						key: "range",
						label: "IP Range(s) Targeted",
						sortable: true
					},
					{
						key: "domain",
						label: "Domain(s) Targeted",
						sortable: true,
					},
					{
						key: "start",
						label: "Scan Start",
						sortable: true
					},
					{
						key: "end",
						label: "Scan End",
						sortable: true
					},
					{
						key: "notes",
						label: "Notes",
						sortable: true,
					},
					{
						key: "delete",
					}
				],
				name: "sca",
				items: []
			},
			SigTableArgs: {
				fields: [
					{
						key: "event",
						label: "Event",
						sortable: true
					},
					{
						key: "notes",
						label: "Notes",
						sortable: true
					},
					{
						key: "start",
						label: "Start Time",
						sortable: true
					},
					{
						key: "end",
						label: "End Time",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "sig",
				items: []
			},
			ArtifactTableArgs: {
				fields: [
					{
						key: "name",
						label: "File Name",
						sortable: true
					},
					{
						key: "description",
						label: "Description",
						sortable: true
					},
					{
						key: "md5",
						label: "MD5",
						sortable: true
					},
					{
						key: "sha1",
						label: "SHA-1",
						sortable: true
					},
					{
						key: "sha256",
						label: "SHA-256",
						sortable: true
					},
					{
						key: "delete",
					}
				],
				name: "art",
				items: []
			},
		}

		{% for i in infra_ext_ts %}
			{% if i.beacon_kill_date != null %}
				date = "{{i.beacon_kill_date | date:"m/d/Y"}}"
				killdate = new Date (date.replace(/\./g, ''))
			{% else %}
				killdate = null
			{% endif %}

			pageData.ExtTeamserverTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", domain: "{{i.domain|escapejs}}", killdate: killdate})
		{% endfor %}

		{% for i in infra_int_ts %}
			{% if i.beacon_kill_date != null %}
				date = "{{i.beacon_kill_date | date:"m/d/Y"}}"
				killdate = new Date (date.replace(/\./g, ''))
			{% else %}
				killdate = null
			{% endif %}

			pageData.IntTeamserverTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", domain: "{{i.domain|escapejs}}", killdate: killdate})
		{% endfor %}

		{% for i in infra_phi %}
			pageData.PhishingTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", domain: "{{i.domain|escapejs}}"})
		{% endfor %}

		{% for i in infra_red %}
			pageData.RedirectorTableArgs.items.push({order: parseInt("{{i.order}}"), url: "{{i.url|escapejs}}"})
		{% endfor %}

		{% for i in infra_ext_ws %}
			pageData.ExtWorkstationTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", os: "{{i.operating_system|escapejs}}", operator: "{{i.operator|escapejs}}"})
		{% endfor %}

		{% for i in infra_int_ws %}
			pageData.IntWorkstationTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", os: "{{i.operating_system|escapejs}}", operator: "{{i.operator|escapejs}}"})
		{% endfor %}

		{% for i in lat_mov %}
			{% if i.initial_beacon != null %}
				date = "{{i.initial_beacon | date:"m/d/Y h:i a"}}"
				beacon = new Date (date.replace(/\./g, ''))
			{% else %}
				beacon = null
			{% endif %}

			pageData.LatTableArgs.items.push({order: parseInt("{{i.order}}"), beacon: beacon, hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", account: "{{i.account_used|escapejs}}", moved: "{{i.host_moved_from|escapejs}}", method: "{{i.movement_method|escapejs}}", callback: "{{i.callback_server|escapejs}}", notes: "{{i.notes|escapejs}}"})
		{% endfor %}

		{% for i in files %}
			{% if i.datetime_created != null %}
				date = "{{i.datetime_created | date:"m/d/Y h:i a"}}"
				created = new Date (date.replace(/\./g, ''))
			{% else %}
				created = null
			{% endif %}

			{% if i.datetime_deleted != null %}
				date = "{{i.datetime_deleted | date:"m/d/Y h:i a"}}"
				deleted = new Date (date.replace(/\./g, ''))
			{% else %}
				deleted = null
			{% endif %}

			pageData.FileTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", location: "{{i.file_location|escapejs}}", filename: "{{i.file_name|escapejs}}", status: "{{i.status|escapejs}}", created: created, deleted: deleted})
		{% endfor %}

		{% for i in int_log %}
			{% if i.logon_datetime != null %}
				date = "{{i.logon_datetime | date:"m/d/Y h:i a"}}"
				logon = new Date (date.replace(/\./g, ''))
			{% else %}
				logon = null
			{% endif %}

			{% if i.logoff_datetime != null %}
				date = "{{i.logoff_datetime | date:"m/d/Y h:i a"}}"
				logoff = new Date (date.replace(/\./g, ''))
			{% else %}
				logoff = null
			{% endif %}

			pageData.IntLogonsTableArgs.items.push({order: parseInt("{{i.order}}"), hostname: "{{i.hostname|escapejs}}", ip: "{{i.ip_address|escapejs}}", account: "{{i.account|escapejs}}", method: "{{i.method|escapejs}}", logon: logon, logoff: logoff, operator: "{{i.operator|escapejs}}", notes: "{{i.notes|escapejs}}"})
		{% endfor %}

		{% for i in scans %}
			{% if i.scan_start != null %}
				date = "{{i.scan_start | date:"m/d/Y h:i a"}}"
				start = new Date (date.replace(/\./g, ''))
			{% else %}
				start = null
			{% endif %}

			{% if i.scan_end != null %}
				date = "{{i.scan_end | date:"m/d/Y h:i a"}}"
				end = new Date (date.replace(/\./g, ''))
			{% else %}
				end = null
			{% endif %}

			pageData.ScanTableArgs.items.push({order: parseInt("{{i.order}}"), type: "{{i.scan_type|escapejs}}", tool: "{{i.tool_used|escapejs}}", range: "{{i.ip_ranges_targeted|escapejs}}", domain: "{{i.domains_targeted|escapejs}}", start: start, end: end, notes: "{{i.notes|escapejs}}"})
		{% endfor %}

		{% for i in sig_eve %}
			{% if i.start_datetime != null %}
				date = "{{i.start_datetime | date:"m/d/Y h:i a"}}"
				start = new Date (date.replace(/\./g, ''))
			{% else %}
				start = null
			{% endif %}

			{% if i.end_datetime != null %}
				date = "{{i.end_datetime | date:"m/d/Y h:i a"}}"
				end = new Date (date.replace(/\./g, ''))
			{% else %}
				end = null
			{% endif %}

			pageData.SigTableArgs.items.push({order: "{{i.order}}", event: "{{i.event|escapejs}}", notes: "{{i.notes|escapejs}}", start: start, end: end})
		{% endfor %}

		{% for i in art %}
			pageData.ArtifactTableArgs.items.push({order: "{{i.order}}", name: "{{i.file_name|escapejs}}", description: "{{i.description|escapejs}}", md5: "{{i.md5|escapejs}}", sha1: "{{i.sha1|escapejs}}", sha256: "{{i.sha256|escapejs}}", fileOrder: null})
		{% endfor %}
		
		return pageData
	}

	function pageCreated() {
    this.baseData.layoutArgs.pageTitle = "Activity Tracker"
  }

  function pageMethods() {
		pageFunctions = {

			openTab: function (tab) {
				for (var item in this.tabs) {
					if (item != tab) {
						this.tabs[item] = false
					}
					else {
						this.tabs[item] = true
					}
				}
			},

			addRow: function(table) {

				if (table.name == "ext-ts") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", domain: "", killdate: null})
				}

				else if (table.name == "phi") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", domain: ""})
				}

				else if (table.name == "red") {
					table.items.push({order: table.items.length + 1, url: ""})
				}

				else if (table.name == "ext-ws") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", os: "", operator: ""})
				}

				else if (table.name == "int-ts") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", domain: "", killdate: null})
				}

				else if (table.name == "int-ws") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", os: "", operator: ""})
				}

				else if (table.name == "lat") {
					table.items.push({order: table.items.length + 1, beacon: null, hostname: "", ip: "", account: "", moved: "", method: "", callback: "", notes: ""})
				}

				else if (table.name == "fil") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", location: "", filename: "", hash: "", status: "", created: null, deleted: null})
				}

				else if (table.name == "int") {
					table.items.push({order: table.items.length + 1, hostname: "", ip: "", account: "", method: "", logon: null, logoff: null, operator: "", notes: ""})
				}

				else if (table.name == "sca") {
					table.items.push({order: table.items.length + 1, type: "", tool: "", range: "", domain: "", start: null, end: null, notes: ""})
				}

				else if (table.name == "sig") {
					table.items.push({order: table.items.length + 1, event: "", notes: "", start: null, end: null})
				}

				else if (table.name == "art") {
					table.items.push({order: table.items.length + 1, name: "", description: "", md5: "", sha1: "", sha256: "", fileOrder: null})
				}

			},

			deleteRow: function(table, row) {
				table.items.splice(table.items.indexOf(row), 1)
			},

			addFile: function (event) {
				const files = Array.from(event.files)
				newFiles = files.filter(file => !this.fileList.includes(file))
				fileOrder = this.fileList.length
				Array.prototype.push.apply(this.fileList, newFiles)
				for (let file in newFiles) {
					this.ArtifactTableArgs.items.push({order: this.ArtifactTableArgs.items.length + 1, name: String(newFiles[file]['name']), description: "", md5: "", sha1: "", sha256: "", fileOrder: fileOrder})
					fileOrder++
				}
				this.displayNotification({'title': 'Files Added', text: 'Files have been added to the tracker. Saving this screen will populate the calculated hashes.', variant:"info", autoHideDelay:10000})
			},

			submitTracker: function () {

				this.formData.push({ext_ts: this.ExtTeamserverTableArgs.items})
				this.formData.push({ext_ph: this.PhishingTableArgs.items})
				this.formData.push({ext_rd: this.RedirectorTableArgs.items})
				this.formData.push({ext_ws: this.ExtWorkstationTableArgs.items})
				this.formData.push({int_ts: this.IntTeamserverTableArgs.items})
				this.formData.push({int_ws: this.IntWorkstationTableArgs.items})
				this.formData.push({lat_mov: this.LatTableArgs.items})
				this.formData.push({file: this.FileTableArgs.items})
				this.formData.push({int_log: this.IntLogonsTableArgs.items})
				this.formData.push({scan: this.ScanTableArgs.items})
				this.formData.push({sig_eve: this.SigTableArgs.items})
				this.formData.push({art: this.ArtifactTableArgs.items})

				const formData = new FormData()
				formData.append('data', JSON.stringify(this.formData))

				let num = 0

				for(const file in this.fileList) {
					formData.append('file' + num.toString(), this.fileList[file])
					num += 1
				}

				fetch(window.location.href, {
					method: "POST",
					body: formData,
					credentials: "same-origin",
					headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
				}).then(response => {
					if (response.ok) {
						this.displayNotification({title: "Activity Tracker Saved", text: "Activity Tracker data saved successfully. Please wait while the page refreshes...", variant: "success"})
							setTimeout(() => {this.redirectLink("{% url 'activity_tracker' %}")}, 2000)
					}
					else {
						this.displayNotification({title: "Error Saving Data", text: "Bad response received from server. Check for errors in forms and try again.", variant: "danger"})
					}
				}).catch(error => {
					this.displayNotification({title: "Error Saving Data", variant: "danger"})
				})
			},

		}
		return pageFunctions
	}

</script>
{% endblock %}
