{% extends 'ptportal/base.html' %}
{% block active %}#attack{% endblock %}
{% load humanize %}
{% load report_extras %}
{% load widget_tweaks %}
{% block content %}

<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
          <div class="col-md-9">
            <h1 id="background" class="page-header">ATT&amp;CK Matrix</h1>

            <form action="" method="POST" novalidate>{% csrf_token %}

                <div class="row">
                  <div class="col-md-12">
                    <div class="pad" id="att&ck-matrix"></div>
                      <p>This ATT&amp;CK Matrix provides a visual representation of the adversarial tactics and techniques used by the CISA team during the assessment. Click on the associated link for more information about how a technique was used during the assessment. </p>
                      <p>Tactic categories are listed on the top row, and individual techniques as cells underneath each tactic to denote that technique can be used to accomplish that particular tactic. Techniques can span multiple tactic categories signifying that they can be used for more than one purpose.</p>
                      <p>More information about the MITRE ATT&amp;CK Matrix for Enterprise can be found at <a href="https://attack.mitre.org/">https://attack.mitre.org/</a>.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <button class="btn btn-success open-button float-right expand" type="button">Expand all</button>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <br>
                        {% for key, value in attack_matrix.items %}
                        <div class="toggle-accordion" id="accordion{{forloop.counter}}" accordion-id="#accordion">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <a id="{{forloop.counter}}" role="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               {{key}}
                                </a>
                              </h5>
                            </div>

                            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse techniques in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body">
                                <table class="table">
                                  <div class="form-check">
                                    {{value.management_form}}
                                    {% with WIDGET_ERROR_CLASS='is-invalid' %}
                                    {% for technique in value %}
                                    {{ technique.id }}
                                      <tr>
                                        <td>
                                          <div class="form-check" style="display: flex;align-items: center;">
                                           {% with technique.instance.name|cut:" "|add:" form-check-input" as class_name %}
                                              {% render_field technique.used class+=class_name style+="margin-top: 0px;" %}
                                           {% endwith %}
                                              <label class="form-check-label" title="{% autoescape off %}<strong>{{technique.instance.name}}</strong><br>{% endautoescape %}{{ technique.instance.description }}" for="{{ technique.used.id_for_label }}" data-toggle='tooltip' data-placement='right' data-html="true">{{ technique.instance.name }}</label>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    {% endwith %}
                                  </div>
                                </table>
                              </div>
                            </div>
                          </div><!--  end card -->
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- end row -->

                <input name="Submit" class="btn btn-primary" hidden type="submit" id="Submit"/>
            </form>

          </div>

	    <div class="col-md-3" role= "complementary">
	        <nav class="bs-docs-sidebar hidden-print scrollspy navbar-light sticky-top" id="scrollnavBar">
	            <ul class="nav nabar-nav bs-docs-sidenav">
	              <li class="nav-item"><a class="nav-link" href="#att&ck-matrix">Attack Matrix</a>
	                <ul class="nav nav-pills nav-stacked flex-column" >
	                   {% for key, value in attack_matrix.items %}
	                       <li class="nav-item"><a class="nav-link" href="#{{forloop.counter}}">{{key}}</a></li>
	                   {% endfor %}
	                </ul>
	              </li>
	            </ul>
            <br/>
            <div class="text-center">
            <label for="Submit" class="btn btn-primary">Save and Continue</label>
            <br/>
            {% if previously_saved %}
               <p class="text-secondary"><em>Last Modified on <br/>{{ previously_saved | naturaltime }}</em></p>
            {% endif %}
            </div>
	        </nav>
	    </div> <!-- scrollspy navbar -->

	    </div><!-- end first row -->

    </div><!-- end container fluid -->
</div><!-- end wrapper -->
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {

    // Sync the technique selection between different tactics
	$('.form-check-input').click(function(){
		var class_names = $(this).attr('class').split(' ');

		var is_checked = $(this).is(':checked');

		// Get all of the checkboxes with the same class
		const associatedCheckBoxes = document.querySelectorAll('.' + class_names[0]);

		if (associatedCheckBoxes.length > 1){
			for (var i = 0; i < associatedCheckBoxes.length; i++){
			   associatedCheckBoxes[i].checked = is_checked;
			}
		}
	}); // end form-check-input

    $('body').scrollspy({
                  target: '#scrollnavBar',
                  offset:50
              });

    checked_techniques = document.querySelectorAll(':checked');
    tactics = []
    checked_techniques.forEach((technique) => {
      tactic = technique.attributes.name.value.split('-')[0]
      tactics.push(tactic)
    });
    tactics = [... new Set(tactics)];

    for (var i=0; i<tactics.length; i++) {
      $('.'+tactics[i]).collapse('show')
      tactic_el = [...document.querySelectorAll("a[role=button]")].filter(a => a.textContent.includes(tactics[i]))[0]
      tactic_id = tactic_el.attributes.id.value;
      $('#collapse'+tactic_id).collapse('show');
    }


    $(".open-button").on("click", function() {
      if(!$(this).hasClass('expand')){
        $('.techniques').collapse('hide');
        $(this).text('Expand all');
        $(this).addClass('expand');

      }else{
        $('.techniques').collapse('show');
        $(this).text('Close all');
        $(this).removeClass('expand');
      }
    });


    });

  (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByTagName('form');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
            var warnMessage = null;
          }, false);
        });
      }, false);
    })();


</script>

{% endblock %}
