<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->
<html>

  <head>
    <!-- Bootstrap CSS -->
    {% load static %}

    <!-- SDS CSS -->
    <link href="{% static 'css/sds.tailwind.css' %}" rel="stylesheet" />
    <link href="{% static 'css/sds.style.css' %}" rel="stylesheet" />

    <!-- Apexcharts CSS-->
    <link href="{% static 'css/apexcharts.css' %}" rel="stylesheet"/>

    <!-- Page Specific CSS -->
    {% block style %}
    <!-- Load styles from content pages -->{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}Favicon_Package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}Favicon_Package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}Favicon_Package/favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}Favicon_Package//site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Vue Compiler/Runtime-->
    <!--<script src="https://unpkg.com/vue@3"></script>-->
    <script src="{{ STATIC_URL }}js/vue.global.prod.js"></script>
    <script src="{{ STATIC_URL }}js/sds.umd.js"></script>

    <!-- ApexCharts -->
    <script src="{% static 'js/apexcharts.amd.js' %}"></script>
    <script src="{% static 'js/vue3-apexcharts.umd.min.js' %}"></script>

    <script>
      //Only runs the code once the DOM has been loaded.
      document.addEventListener("DOMContentLoaded", function()
      {

        //Configuration of the main Vue App. Allows for page specific configuration as well.
        appConfiguration =
        {
          compilerOptions: {
            delimiters: ["[[", "]]"]
          },
          //Function that returns the data used by the Vue App.

          data()
          {
            baseData =
            {
              toasts: [],
              sidebarCollapsed: false,
              dropdownArgs:
              {
                placement: "right",
                menuClass: "py-2 border shadow-lg my-1 w-32 rounded-md bg-white dark:border-gray-500 dark:bg-gray-700",
                animated: true,
              },
              layoutArgs:
              {
                appSuite: "Engine",
                appName: "{{ report_type }}-{{ asmt_id }}",
                enableCollapsibleSidebar: true,
                appSuitePrefix: "Reporting",
                hideAppIcon: false,
                hidePageHeader: false,
                appUrl: "{% url 'index' %}",
                appIconUrl: "{% static 'icons/shield-halved.svg' %}",
                sidebarNavigationItems: [
                  {
                    id: 2,
                    title: "Dashboard",
                    href: "{% url 'index' %}",
                    iconUrl: "{% static 'icons/tachometer-alt-solid.svg' %}",
                  },
                  {
                    id: 3,
                    title: "Assessment Details",
                    href: "{% url 'engagement' %}",
                    iconUrl: "{% static 'icons/address-card-regular.svg' %}"
                  },
                  {
                    id: 4,
                    title: "Add Finding",
                    href: "{% url 'finding_create' %}",
                    iconUrl: "{% static 'icons/upload-solid.svg' %}"
                  },
                  {
                    id: 5,
                    title: "KEV Catalog",
                    href: "{% url 'kev_catalog' %}",
                    iconUrl: "{% static 'icons/book-solid.svg' %}"
                  },
                  {% if report_type == 'RVA' %}
                    {
                      id: 6,
                      title: "Risk Scoring",
                      href: "{% url 'risk_score' %}",
                      iconUrl: "{% static 'icons/calculator-solid.svg' %}"
                    },
                  {% endif %}
                  {
                    id: 7,
                    title: "Activity Tracker",
                    href: "{% url 'activity_tracker' %}",
                    iconUrl: "{% static 'icons/table-solid.svg' %}"
                  },
                  {
                    id: 8,
                    title: "Report",
                    href: "{% url 'report' %}",
                    iconUrl: "{% static 'icons/file-alt-solid.svg' %}",
                  },
                  {
                    id: 9,
                    title: "Export",
                    href: "{% url 'export' %}",
                    iconUrl: "{% static 'icons/download-solid.svg' %}"
                  },
                  {% if report_type == 'RVA' %}
                  {
                    id: 10,
                    title: "Election Infrastructure",
                    href: "{% url 'ei' %}",
                    iconUrl: "{% static 'icons/poll-h-solid.svg' %}"
                  },
                  {% endif %}
                ]
              },
              phishingLinks: {
                payloads: {
                  id: 5,
                  title: "Payloads",
                  href: "{% url 'payloads' %}"
                },
                campaigns: {
                  id: 6,
                  title: "Campaigns",
                  href: "{% url 'campaigns' %}"
                },
              },

              serviceLinks :{
                port: {
                  id: 7,
                  title: "Port Mapping",
                  href: "{% url 'port_mapping' %}"
                },
                data_exfil: {
                  id: 8,
                  title: "Data Exfiltration",
                  href: "{% url 'data_exfiltration' %}"
                },
                ransomware: {
                  id: 9,
                    title: "Ransomware",
                    href: "{% url 'ransomware' %}"
                  },
                },

                narrativeLinks: {
                  phishing: {
                    id: 10,
                    title: "Phishing",
                    href: "{% url 'narratives' 'phishing' %}",
                  },
                  external: {
                    id: 11,
                    title: "External",
                    href: "{% url 'narratives' 'external' %}",
                  },
                  internal: {
                    id: 12,
                    title: "Internal",
                    href: "{% url 'narratives' 'internal' %}",
                  }
                },
            }
            //If the current page content contains a function called pageData, it will merge the dictionary returned
            //from that function and merge it with the base template datalabels.
            //NOTE: The pageData function must return a dictionary.
            if (typeof pageData === 'function')
            {
              baseData = Object.assign({}, baseData, pageData())
            }

            return baseData
          },
          //Methods for the base vue app object. If a function called pageMethods exists in the page then
          //the functions from there will be merged into the methods of the Vue App.
          //NOTE: The function should return a dictionary of functions.
          methods: Object.assign
          ({
            redirectLink: function(link)
            {
              window.location.href = link
            },
            displayNotification: function(options) {
              this.toasts.push(Object.assign({}, options, {id: this.toasts.length}))
            },

          }, (typeof pageMethods === 'function' ? pageMethods() : {}), {

          }),

          //Runs during the created portion of the Vue lifecycle.
          //If a function called pageCreated exists on the page that will be ran at the end of the lifecycle.
          created()
          {
            {% if report_type == 'RVA' %}
              phishingTabs = {
                id: 20,
                title: "Phishing",
                items: [this.phishingLinks['payloads'], this.phishingLinks['campaigns']],
                iconUrl: "{% static 'icons/envelope.svg' %}"
              }
            {% else %}
              phishingTabs = {
                id: 20,
                title: "Phishing",
                items: [this.phishingLinks['campaigns']],
                iconUrl: "{% static 'icons/envelope.svg' %}"
              }
            {% endif %}

            {% if report_type == 'RVA' %}
              serviceTabs = {
                id: 30,
                title: "Services",
                items: [this.serviceLinks['port'], this.serviceLinks['data_exfil'], this.serviceLinks['ransomware']],
                iconUrl: "{% static 'icons/gear-solid.svg' %}"
              }
            {% else %}
              serviceTabs = {
                id: 30,
                title: "Services",
                items: [this.serviceLinks['port']],
                iconUrl: "{% static 'icons/gear-solid.svg' %}"
              }
            {% endif %}

            {% if report_type == 'RVA' %}
              narrativeTabs = {
                id: 40,
                title: "Narrative",
                items: [this.narrativeLinks['phishing'], this.narrativeLinks['external'], this.narrativeLinks['internal']],
                iconUrl: "{% static 'icons/list-solid.svg' %}"
              }
            {% else %}
              narrativeTabs = {
                id: 40,
                title: "Narrative",
                items: [this.narrativeLinks['phishing'], this.narrativeLinks['external']],
                iconUrl: "{% static 'icons/list-solid.svg' %}"
              }
            {% endif %}

            this.layoutArgs.sidebarNavigationItems.splice(3, 0, narrativeTabs)
            this.layoutArgs.sidebarNavigationItems.splice(3, 0, serviceTabs)
            this.layoutArgs.sidebarNavigationItems.splice(3, 0, phishingTabs)

            for(let tab in this.layoutArgs.sidebarNavigationItems){
              href = String(this.layoutArgs.sidebarNavigationItems[tab]['href'])
              title = String(this.layoutArgs.sidebarNavigationItems[tab]['title'])
              path = String(window.location.pathname)
              if(href === path){
                this.layoutArgs.sidebarNavigationItems[tab]['active'] = true
                break
              }
              else if(href.includes("engagement") && path.includes("engagement")) {
                this.layoutArgs.sidebarNavigationItems[tab]['active'] = true
                break
              }
              else if(href.includes("election-infrastructure") && path.includes("election-infrastructure")) {
                this.layoutArgs.sidebarNavigationItems[tab]['active'] = true
                break
              }
            }

            if(typeof pageCreated === "function"){
              pageCreated()
            }
          },
          beforeMount()
          {
            if(typeof pageBeforeMounted === 'function') {
              pageBeforeMounted()
            }
          },
        }

        const vueApp = Vue.createApp(appConfiguration)
        vueApp.use(SeiDesignSystem.default)
        vueApp.use(window['vue3-apexcharts'].default)
        vueApp.mount("#vue-container")
      });
    </script>

    <!-- Page Specific JavaScript-->
    {% block scripts %}
    <!-- Load scripts from content pages -->{% endblock %}

    {% if asmt_id %}
    <title>PT Portal {{report_type}}-{{asmt_id}}</title>
    {% else %}
    <title>PT Portal {{report_type}}</title>
    {% endif %}

  </head>

  <body>
    <div id="vue-container">
      <sds-layout-app v-bind="layoutArgs" v-model="sidebarCollapsed">
        <template #suite-header>
          <sds-dropdown v-bind="dropdownArgs">
            <template #title>{{ user }}</template>
            <sds-dropdown-item v-if="{{ user.is_admin }} = true" tag="a" href="/admin">Admin</sds-dropdown-item>
            <sds-dropdown-item v-else tag="a" href="{% url 'password_change' %}">Change Password</sds-dropdown-item>
            <sds-dropdown-item tag="a" href="{% url 'logout_view' %}">Logout</sds-dropdown-item>
          </sds-dropdown>
        </template>
        <template #default>
          <sds-toaster v-model="toasts"></sds-toaster>
          {% block content %}
          {% endblock %}
        </template>
        <template #footer-right>
          <div style="float: right;">version {{version_number}}</div>
        </template>
      </sds-layout-app>
    </div>
  </body>
<style>
  .text-red-400{
    color: rgb(187 0 0) !important;
  }
  .hover\:underline:hover{
    color: white !important;
  }
  .w-8.h-8{
    width: 1.333rem !important;
    height: 1.333rem !important;
  }
  .text-xl.flex{
    font-size: 1.75rem !important;
  }
  .text-lg.font-bold.my-auto{
    font-size: 1.25rem !important;
  }
  .tab{
    background-color: transparent !important;
  }
</style>
</html>
