<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% block active %}#portMapping{% endblock %}


{% block content %}
{% csrf_token %}
<h1 class="">External Port Mapping</h1>
<sds-modal size="sm" v-model="overwriteWarning">
	<template #title>
		<p>Warning</p>
	</template>
	<p class="mb-2">Are you sure you want to overwrite? All current data will be lost.</p>
	<div class="flex gap-2">
		<sds-button variant="primary" @click="this.overwriteWarning=false;parseNmap(true)">Confirm</sds-button>
		<sds-button variant="danger" @click="this.overwriteWarning = false">Cancel</sds-button>
	</div>
</sds-modal>
<sds-section class="mb-4">
	<template #title>
		<p class="text-2xl font-bold">Nmap Port Mapping upload</p>
		<sds-file-uploader class="" v-bind="fileUploadArgs">

		</sds-file-uploader>
	</template>
	<div class="grid gap-2 grid-cols-2">
		<div class="flex gap-2">
			<sds-button variant="primary" @click="parseNmap(false)"><i class="fas fa-plus-circle"></i> Append</sds-button>
			<sds-button variant="primary" @click="this.overwriteWarning = true"><i class="fas fa-times-circle"></i> Overwrite</sds-button>
		</div>
	</div>
</sds-section>
<sds-table class="table-prose mb-2" v-bind="mapTableArgs">
	<template #cell(ip)="{item}">
		<sds-input v-model="item.ip" placeholder="127.0.0.1"></sds-input>
	</template>
	<template #cell(hostname)="{item}">
		<sds-input v-model="item.hostname" placeholder="My Server"></sds-input>
	</template>
	<template #cell(ports)="{item}">
		<sds-input v-model="item.ports" placeholder="21, 22, 25"></sds-input>
	</template>
	<template #cell(services)="{item}">
		<sds-input v-model="item.services" placeholder="FTP, SSH, SMTP"></sds-input>
	</template>
	<template #cell(action)="{item}">
		<sds-button variant="danger" type="button" @click="deleteMapping(item)"><i class="fas fa-trash-alt"></i></sds-input>
	</template>
</sds-table>
<sds-button variant="primary" size='sm' class="block mb-2" @click="addMapping" type="button"><i class="fas fa-plus"></i> Add Row</sds-button>
<sds-button variant="primary" class="float-right" @click="submitMappings"><i class="fas fa-save"></i> Save</sds-button>
{% endblock %}


{% block scripts %}
<script>
	function pageData() {
		data = {
			overwriteWarning: false,
			mapTableArgs: {
				fields: [
					{
						key: "ip",
						label: "IP",
						sortable: true
					},
					{
						key: 'hostname',
						label: "Hostname",
						sortable: true
					},
					{
						key: "ports",
						label: "Ports",
						sortable: true
					},
					{
						key: "services",
						label: "Services",
						sortable: true
					},
					{
						key: "action",
						label: "Action"
					}
				],
				items: []
			},
			fileUploadArgs: {
				accept: ".xml",
				allowedFiletypes: ["text/xml"],
				multiple: false,
				helperText: "The expected format is an XML file (obtained using either -oX for XML format or -oA for all formats in Nmap). \nSelect the Append button if you want to add to the existing data below or Overwrite if you would like to overwrite all previous port mapping data.",
				name: "nmapUpload"
			}
		}

		{% for host in hosts %}
			data.mapTableArgs.items.push({ip: "{{host.ip}}", hostname: "{{host.hostname}}", ports: "{{host.ports}}", services: "{{host.services}}"})
		{% endfor %}

		return data
	}

	function pageMethods() {
		pageFunctions = {
			submitMappings: function() {
				formattedData = JSON.parse(JSON.stringify(this.mapTableArgs.items))
				fetch(window.location.href, {
					method: "POST",
					body: JSON.stringify(formattedData),
					credentials: "same-origin",
					headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
				}).then(response => {
					if(response.ok) {
						this.displayNotification({title: "Mappings Saved", variant:"success", text: "Port mapping data saved successfully."})
					}
					else {
						this.displayNotification({text: "Bad response received from server. Check for errors in forms and try again.", title: "Error saving data", variant:"danger"})
					}
				}).catch(error => {
					this.displayNotification({text: error, title: "Error saving data", variant:"danger"})
				})
			},
			addMapping: function() {
				this.mapTableArgs.items.push({ip: '', hostname: '', ports: '', services: ''})
			},
			deleteMapping: function(mapping) {
				this.mapTableArgs.items.splice(this.mapTableArgs.items.indexOf(mapping), 1)
			},
			parseNmap: async function(overwrite) {
				//May change this to disable button instead of a check.
				if (document.getElementsByName('nmapUpload')[0].files.length == 0) {
					return
				}

				//Get file name and read it in as a xml string.
				const fileName = document.getElementsByName('nmapUpload')[0].files[0]
				let nmapString = null
				await fileName.text().then(text => {nmapString = text})

				const parser = new DOMParser()
				const parsedXML = parser.parseFromString(nmapString, "text/xml")

				//Check for a specific nmap tag to verify it should be a legitimate xml.
				if(parsedXML.getElementsByTagName('nmaprun').length == 0){
					this.displayNotification({text: "The file does not seem to contain normal nmap tags. Verify the xml file or rerun nmap to generate a proper file.", title: "Bad XML file.", variant:"warning"})
					return
				}

				let newData = []
				for (let host of parsedXML.getElementsByTagName('host')) {
					//Skip hosts that aren't up.
					if(host.getElementsByTagName('status')[0].getAttribute('state') != "up") {continue}
					let hostData = {ip: '', hostname: '', ports: [], services:[]}
					hostData['ip'] = host.getElementsByTagName('address')[0].getAttribute('addr')

					//Possibility that the host may not have a hostname. So if the tag comes to an erorr than just set blank hostname.
					try {
						hostData['hostname'] = host.getElementsByTagName('hostnames')[0].getElementsByTagName('hostname')[0].getAttribute('name')
					}
					catch {
						hostData['hostname'] = ''
					}

					let ports = host.getElementsByTagName('ports')[0]
					for (let port of ports.getElementsByTagName('port')) {
						//Skip ports that aren't open.
						if(ports.getElementsByTagName('state')[0].getAttribute('state') != "open") {continue}
						hostData['ports'].push(port.getAttribute('portid'))
						hostData['services'].push(port.getElementsByTagName('service')[0].getAttribute('name'))
					}
					newData.push(hostData)
				}

				//Deletes data if overwriting.
				if(overwrite) {this.mapTableArgs.items = []}
				for (let mapping in newData) {
					this.mapTableArgs.items.push({ip: newData[mapping]['ip'], hostname: newData[mapping]['hostname'], ports: newData[mapping]['ports'].join(", "), services: newData[mapping]['services'].join(', ')})
				}
				this.displayNotification({text: "Nmap xml file has been parsed and added to the page successfully. Remember to save the page and remove the file in the uploader if more files are to be added.", title: "Nmap data parsed successfully", variant:"info", autoHideDelay:10000})
			}
		}
		return pageFunctions
	}
</script>
{% endblock %}
