<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% block active %}#portMapping{% endblock %}


{% block content %}
<div class="col-span-5">
	{% csrf_token %}
	<sds-modal size="sm" v-model="overwriteWarning">
		<template #title>
			<p>Warning</p>
		</template>
		<p class="mb-2">Are you sure you want to overwrite? All current data will be lost.</p>
		<div class="flex gap-2">
			<sds-button variant="primary" @click="this.overwriteWarning=false;parseNmap(true)">Confirm</sds-button>
			<sds-button variant="danger" @click="this.overwriteWarning = false">Cancel</sds-button>
		</div>
	</sds-modal>
	<sds-section class="mb-4" type="accented">
		<template #title><b>DATA UPLOAD</b></template>
		<sds-file-uploader class="" v-bind="fileUploadArgs"></sds-file-uploader>
		<br>
		<div class="grid gap-2 grid-cols-2">
			<div class="flex gap-2">
				<sds-button variant="primary" @click="parseNmap(false)"><img class="w-8 h-8" src="/static/icons/circle-plus-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Append</sds-button>
				<sds-button variant="primary" @click="this.overwriteWarning = true"><img class="w-8 h-8" src="/static/icons/file-circle-xmark-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Overwrite</sds-button>
			</div>
		</div>
	</sds-section>

	<sds-section class="col-span-5" type="accented">
		<span class="border-top border-dark"></span>
		<template #title><b>EXTERNAL NMAP RESULTS</b></template>
		<!-- Nmap Table -->
		<p><b>NOTE:</b> To ensure correct parsing of data, please format ports as a comma delimited list (e.g., 22/tcp, 53/tcp, 80/tcp) and ensure that, for every port, there is a corresponding service in the comma delimited service list (e.g., ssh, dns, http). If a service is unknown, it should be listed as 'unknown'.</p>
		<sds-section>
			<div class="mb-8">
				<sds-table :fields="fields" :items="items" class="table-prose" v-bind="NmapTableArgs">
					<template #cell(ip)="{item}">
						<sds-textarea v-model="item.ip" rows="1" placeholder="127.0.0.1"></sds-textarea>
					</template>
					<template #cell(hostname)="{item}">
						<sds-textarea v-model="item.hostname" rows="1" placeholder="test.server"></sds-textarea>
					</template>
					<template #cell(ports)="{item}">
						<sds-textarea v-model="item.ports" rows="3" placeholder="22/tcp, 80/tcp, 443/tcp"></sds-textarea>
					</template>
					<template #cell(services)="{item}">
						<sds-textarea v-model="item.services" rows="3" placeholder="ssh, http, http"></sds-textarea>
					</template>
					<template #cell(delete)="{item}">
						<sds-button type="button" @click="deleteMapping(item)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-input>
					</template>
				</sds-table>
				<sds-button type="button" @click="addMapping"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
			</div>
		</sds-section>
		<sds-button variant="primary" class="float-right" @click="submitMappings"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
		<br><br>
	</sds-section>
</div>
{% endblock %}


{% block scripts %}
<script>
	function pageData() {
		data = {
			fileList: [],
			formData: [],
			overwriteWarning: false,
			notify: null,
			NmapTableArgs: {
				fields: [
					{
						key: "ip",
						label: "IP",
						sortable: true
					},
					{
						key: 'hostname',
						label: "Hostname",
						sortable: true
					},
					{
						key: "ports",
						label: "Port(s)",
						sortable: false
					},
					{
						key: "services",
						label: "Service(s)",
						sortable: false
					},
					{
						key: "delete",
					}
				],
				items: []
			},
			fileUploadArgs: {
				helperText: "Upload an XML file (obtained via Nmap using either -oX for XML format or -oA for all formats).\nSelect the Append button to add to the existing data in the table below or Overwrite to overwrite all previous port mapping data.",
				accept: ".xml",
				allowedFiletypes: ["text/xml"],
				name: "nmapUpload",
				multiple: false
			}
		}

		{% for host in hosts %}
			data.NmapTableArgs.items.push({ip: "{{host.ip}}", hostname: "{{host.hostname}}", ports: "{{host.ports}}", services: "{{host.services}}"})
		{% endfor %}

		return data
	}

	function pageCreated() {
    	this.baseData.layoutArgs.pageTitle = "External Port Mapping"
  	}

	function pageMethods() {
		pageFunctions = {
			submitMappings: function() {
				let ips = []
				let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) !== index)

				for (var key in this.NmapTableArgs.items) {
					ips.push(this.NmapTableArgs.items[key]['ip'])
				}

				let duplicates = findDuplicates(ips)

				if (duplicates.length > 0) {
					this.displayNotification({title: "Duplicate IPs Detected", text: "The following duplicate IP address entries were found and must be removed before saving: " + duplicates.join(", "), variant:"warning", autoHideDelay:10000})
				}

				else {
					formattedData = JSON.parse(JSON.stringify(this.NmapTableArgs.items))
					fetch(window.location.href, {
						method: "POST",
						body: JSON.stringify(formattedData),
						credentials: "same-origin",
						headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
					}).then(response => {
						if(response.ok) {
							this.displayNotification({title: "Port Mapping Data Saved", text: "Port mapping data saved successfully. Please wait while the page refreshes...", variant: "success"})
							setTimeout(() => {this.redirectLink("{% url 'port_mapping' %}")}, 2000)
						}
						else {
							this.displayNotification({title: "Error Saving Data", text: "Bad response received from server. Check for errors in forms and try again.", variant: "danger"})
						}
					}).catch(error => {
						this.displayNotification({text: error, title: "Error Saving Data", variant: "danger"})
					})
				}
			},

			addMapping: function() {
				this.NmapTableArgs.items.push({id: this.NmapTableArgs.items.length + 1, ip: "", hostname: "", ports: "", services: ""})
			},

			deleteMapping: function(item) {
				this.NmapTableArgs.items.splice(this.NmapTableArgs.items.indexOf(item), 1)

				this.NmapTableArgs.items.forEach((element, index) => {
					element.id = index + 1
				})
			},

			parseNmap: async function(overwrite) {

				const fileName = document.getElementsByName('nmapUpload')[0].files[0]
				let nmapString = null
				await fileName.text().then(text => {nmapString = text})
				const parser = new DOMParser()
				const parsedXML = parser.parseFromString(nmapString, "text/xml")

				if (parsedXML.getElementsByTagName('nmaprun').length == 0) {
					this.displayNotification({title: "Bad XML File", text: "The file does not appear to contain normal Nmap tags. Verify the contents of the file or re-run Nmap to generate a valid file.", variant: "warning"})
					return
				}

				let newData = []
				for (let host of parsedXML.getElementsByTagName('host')) {
					if (host.getElementsByTagName('status')[0].getAttribute('state') != 'up') {
						continue
					}
					let hostData = {ip: '', hostname: '', ports: [], services:[]}

					try {
						hostData['ip'] = host.getElementsByTagName('address')[0].getAttribute('addr')
					}
					catch {
						hostData['ip'] = ''
					}

					try {
						hostData['hostname'] = host.getElementsByTagName('hostnames')[0].getElementsByTagName('hostname')[0].getAttribute('name')
					}
					catch {
						hostData['hostname'] = ''
					}

					let ports = host.getElementsByTagName('ports')[0]
					for (let port of ports.getElementsByTagName('port')) {
						if (port.getElementsByTagName('state')[0].getAttribute('state') != 'open') {
							continue
						}
						try {
							portid = port.getAttribute('portid')
						}
						catch {
							portid = ''
							hostData['ports'].push('unknown')
						}
						try {
							proto = '/' + port.getAttribute('protocol')
						}
						catch {
							proto = ''
						}

						hostData['ports'].push(portid + proto)

						try {
							hostData['services'].push(port.getElementsByTagName('service')[0].getAttribute('name'))
						}
						catch {
							hostData['services'].push('unknown')
						}
					}
					newData.push(hostData)
				}

				if (overwrite) {
					this.NmapTableArgs.items = []
				}

				for (let mapping in newData) {
					this.NmapTableArgs.items.push({ip: newData[mapping]['ip'], hostname: newData[mapping]['hostname'], ports: newData[mapping]['ports'].join(", "), services: newData[mapping]['services'].join(', ')})
				}
				this.displayNotification({title: "Data Successfully Parsed", text: "The Nmap XML data has been parsed and added to the table successfully. Be sure to save before leaving this page.", variant:"info", autoHideDelay:10000})

				let ips = []
				let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) !== index)

				for (var key in this.NmapTableArgs.items) {
					ips.push(this.NmapTableArgs.items[key]['ip'])
				}

				let duplicates = findDuplicates(ips)

				if (duplicates.length > 0) {
					this.displayNotification({title: "Duplicate IPs Detected", text: "The following duplicate IP address entries were found and must be removed before saving: " + duplicates.join(", "), variant:"danger", autoHideDelay:10000})
				}
			}
		}
		return pageFunctions
	}
</script>
{% endblock %}
