<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block active %}#dashboard{% endblock %}

{% block content %}
<div id="vueApp">
	<h1 class='text-4xl'><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
	<hr />
	<div id="dashboardTrackers" class="grid md:grid-cols-3 gap-x-8 mt-4 h-48 mb-4">
		<div class="block bg-white dark:bg-gray-800 dark:border-gray-700 border">
			<header class='h-4/6 bg-red-500 border-b dark:border-gray-700'>
				<h2 class="text-3xl pt-3 pl-3 absolute"><i class="fa fa-exclamation-circle"></i></h2>
				<h2 class="text-right pt-3 pr-3 text-2xl align-top">{{ total_critical}} Critical</h2>
			</header>
			<div class="p-4 h-2/6">
				<sds-link href="" variant="info" v-bind:cta="true">View Details</sds-link>
			</div>
		</div>
		<div class="block bg-white dark:bg-gray-800 dark:border-gray-700 border">
			<header class='h-4/6 bg-orange-500 border-b dark:border-gray-700'>
				<h2 class="text-3xl pt-3 pl-3 absolute"><i class="fa fa-exclamation-triangle"></i></h2>
				<h2 class="text-right pt-3 pr-3 text-2xl align-top">{{ total_high}} High</h2>
			</header>
			<div class="p-4 h-2/6">
				<sds-link href="" variant="info" v-bind:cta="true">View Details</sds-link>
			</div>
		</div>
		<div class="block bg-white dark:bg-gray-800 dark:border-gray-700 border">
			<header class='h-4/6 bg-yellow-500 border-b dark:border-gray-700'>
				<h2 class="text-3xl pt-3 pl-3 absolute"><i class="fa fa-exclamation"></i></h2>
				<h2 class="text-right pt-3 pr-3 text-2xl align-top">{{ total_medium}} Medium</h2>
			</header>
			<div class="p-4 h-2/6">
				<sds-link href="" variant="info" v-bind:cta="true">View Details</sds-link>
			</div>
		</div>
	</div>

	<div class="grid md:grid-cols-2 mb-4">
		<div>
			<h3 class="inline-block text-2xl">Showing {{total_findings}} findings</h3>
		</div>
		<div class="text-right">
			<sds-button v-if="'{{engagement_present}}' == 'True'" variant="primary" @click="redirectLink('{% url "finding_create" %}')">Add Finding</sds-button>
			<sds-button v-else variant="danger" @click="redirectLink('{% url "engagement_create" %}')">Add Engagement</sds-button>
		</div>
	</div>

	<div>
		{% verbatim  %}
		<sds-table v-bind="dashboardTableArgs" class="table-prose">
			<!-- Come back to this once the table slot issue is fixed. -->
		</sds-table>
		{% endverbatim  %}
	</div>
</div>
{% endblock %}

{% block scripts %}

<script>
	function pageData() {
		//Formatting the data for the table to insert into the component.
		findingsList = []
		{% for i in object_list %}
		finding = {
			"FindingName": "{{i.uploaded_finding_name}}",
			"AssessmentType": "{{i.assessment_type}}",
			"Severity": "{{i.severity}}",
			"Created": "{{i.created_at | naturaltime}}",
			"Update": "{{i.updated_at | naturaltime}}",
			"Link": "{% url 'finding_detail' i.slug %}"
		}

		affectedSystems = ""
		{% for system in i.affected_systems.all %}
		{% if forloop.last %}
		affectedSystems += "{{system}}"
		{% else %}
		affectedSystems += "{{system}}, "
		{% endif %}
		{% endfor %}
		finding["AffectedSystem"] = affectedSystems
		findingsList.push(finding)
		{% endfor %}

		//Data added to the data of the Vue app.
		pageData = {
			dashboardTableArgs: {
				fields: [
					{
						key: "FindingName",
						label: "Finding Name",
						sortable: true
					},
					{
						key: "AssessmentType",
						label: "Assessment Type",
						sortable: true,
						hidden: ("{{report_type}}" == "RPT") ? false : true
					},
					{
						key: "AffectedSystem",
						label: "Affected System(s)",
						sortable: true
					},
					{
						key: "Severity",
						label: "Severity",
						sortable: true
					},
					{
						key: "Created",
						label: "Created",
						sortable: true
					},
					{
						key: "Update",
						label: "Updated",
						sortable: true
					}
				],
				items: findingsList,
				sortBy: "Update"
			}
		}

		return pageData
	}

	//Functions passed to the Vue app.
	function pageMethods() {
		return {
			redirectLink: function (link) {
				window.location.href = link
			}
		}
	}

</script>

{% endblock %}
