<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

<html>
<head>
    <!-- SDS CSS -->
    <link href="{{ STATIC_URL }}css/sds.tailwind.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/sds.style.css" rel="stylesheet" />

	<!-- CSS -->
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-datepicker3.css" rel="stylesheet" />

	<!-- JS -->
	<script src="{{ STATIC_URL }}js/jquery-3.2.1.slim.min.js"></script>
	<script src="{{ STATIC_URL }}js/popper.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>


    <style>
        body {
            height: 100%
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>PT Portal</title>
</head>
<body>
    <div class="container">
        <div class="col-md-5">
            <form method="post">
                <div>
                    <h2>Login</h2>
                    <hr>
                </div>
                <br>
                <div class="form-group">
                    <label for="username"><strong>Username</strong></label>
                    <input type="text" required="true" class="form-control" id="username" placeholder="Username" name="username" value="{{ username }}" />
                </div>
                <br>
                <div class="form-group">
                  <label for="password"><strong>Password</strong></label>
                   <input type="password" required="true" class="form-control input-large" id="password" placeholder="Password" name="password" value="" />
                </div>
                <br>
                <div>
                    <button type="submit" name="login" class="btn btn-success" value="login">Login</button>
                </div>
                {% csrf_token %}
                <br>
                Don't have an account? <a href={% url 'signup' %}>&nbspSign up here!</a>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="form-group alert alert-danger alert-dismissible" style="color:red">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% else %}
                            <div class="form-group alert alert-{{ message.tags }} alert-dismissible" style="color:red">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% endif %}
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              </form>
        </div>
      </div>
    </div>
</body>
</html>
