<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

<html>
<head>
    <!-- CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-datepicker3.css" rel="stylesheet" />

    <!-- JS -->
    <script src="{{ STATIC_URL }}js/jquery-3.2.1.slim.min.js"></script>
    <script src="{{ STATIC_URL }}js/popper.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>


    <style>
        body {
            height: 100%
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>PT Portal</title>
</head>
<body>
    <div class="container">
        <div class="col-md-5">
            <div>
                <h2>Password Reset Email Sent</h2>
                <hr>
            </div>
                <div class="form-group alert alert-success">
                    We've successfully emailed you instructions to reset your password.
                    If you do not receive the email soon, please ensure that it has not been redirected to spam,
                    and that you have entered the correct email.
                </div>
            <div>
                <a href={% url 'login' %}>Return to Application Login</a>
            </div>
            {% csrf_token %}
        </div>
    </div>
</body>
</html>
