<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

<html>
<head>
    <!-- CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-datepicker3.css" rel="stylesheet" />

    <!-- JS -->
    <script src="{{ STATIC_URL }}js/jquery-3.2.1.slim.min.js"></script>
    <script src="{{ STATIC_URL }}js/popper.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>


    <style>
        body {
            height: 100%
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>PT Portal</title>
</head>
{% if validlink %}
    <body>
    <div class="container">
        <div class="col-md-5">
            <form method="post">
                {% csrf_token %}
                    <h2>Reset Password</h2>
                    <hr>
                <div class="field-label-responsive">
                    <label for="password"><strong>Password</strong></label>
                </div>
                <div class="form-group has-danger">
                    <div class="input-group">
                        <input type="password" name="new_password1" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
                <div class="field-label-responsive">
                    <label for="password"><strong>Confirm Password</strong></label>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="new_password2" class="form-control"
                               id="password-confirm" placeholder="Password" required>
                    </div>
                </div>
                {% if form.errors %}
                    <div class="form-group alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    <button type="submit" class="btn btn-success">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
    </body>
{% else %}
    <body>
    <div class="container">
        <div class="col-md-5">
            <div>
                <h2>Invalid Password Reset Link</h2>
                <hr>
            </div>
                <div class="form-group alert alert-danger">
                    This password reset link has already been used or has expired. Please request
                    a new password reset link to reset your password.
                </div>
            <div>
                <a href={% url 'login' %}>Return to Login Page</a>
            </div>
            {% csrf_token %}
        </div>
    </div>
</body>
{% endif %}
</html>
