<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
	.col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
		margin-bottom: 50px !important;
    }
	.float-left{
		display: inline-block;
		position: relative;
		top: -40px;
	}
	.right-block{
		display:inline-block;
		vertical-align:top;
		font-size: 11pt;
	}
	.space{
		padding: 4px;
	}
  </style>
{% endblock %}

{% block content %}
{% load static %}
<div class="col-span-5">
	{% csrf_token %}

		<sds-modal size="sm" v-model="overwriteWarning">
			<template #title>
				<p>Warning</p>
			</template>
			<p class="mb-2">Are you sure you want to overwrite? All current data will be lost.</p>
			<div class="flex gap-2">
				<sds-button variant="primary" @click="this.overwriteWarning=false;parseData(true)">Confirm</sds-button>
				<sds-button variant="danger" @click="this.overwriteWarning = false">Cancel</sds-button>
			</div>
		</sds-modal>
		<sds-section class="mb-4" type="accented">
			<span class="border-top border-dark"></span>
            <template #title><b>DATA UPLOAD</b></template>
            <p>Download the <sds-link href="{% static 'templates/payloads-template.csv' %}" variant="primary"><b>Payloads Template</b></sds-link> and follow the format (where <b>B</b>=Blocked and <b>N</b>=Not Blocked) to construct a payloads list. Upload the list below.</p>
            <br>
			<sds-file-uploader v-model="fileList" v-bind="fileUploadArgs"></sds-file-uploader>
			<br>
			<div class="grid gap-2 grid-cols-2">
				<div class="flex gap-2">
					<sds-button variant="primary" @click="parseData(false)"><img class="w-8 h-8" src="/static/icons/circle-plus-solid-white.svg" style="float:left; padding:0px 6px 0px 0px"> Append</sds-button>
					<sds-button variant="primary" @click="this.overwriteWarning = true"><img class="w-8 h-8" src="/static/icons/file-circle-xmark-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Overwrite</sds-button>
				</div>
			</div>
		</sds-section>

		<sds-section type="accented">
			<template #title>
				<span class="font-bold">SECURITY SOLUTIONS</span>
			</template>
			Select all security solutions in use by the target organization.<br><br>
			<div class="grid place-items-center">
				<sds-search-box class="place-self-center w-16" :disableSearch="true" variant="primary" placeholder="Search Term" v-model="securityArgs.searchTerm" @update:model-value="filterSolutions(securityArgs.searchTerm)"></sds-search-box>
				<sds-scroll-area class="px-4 pt-4 place-self-center h-64" style="width:60%">
					<div v-for="sol in securityArgs.solutionSearchList" :key="sol.fields.cve_id" class="border-b border-slate-700 hover:bg-gray-700/[.1]">
						<div class="py-2 px-4">
							<div class="font-bold">
								<input v-if="formData.security_solutions.includes(sol.fields.security_solution_name)" type="checkbox" :id="sol.fields.security_solution_name" name="solution" :value="sol.fields.security_solution_name" :checked="true" @click=checkSolution(sol.fields.security_solution_name)><input v-else type="checkbox" :id="sol.fields.security_solution_name" name="solution" :value="sol.fields.security_solution_name" @click=checkSolution(sol.fields.security_solution_name)>  [[sol.fields.security_solution_name]]
							</div>
						</div>
					</div>
				</sds-scroll-area>
		    </div>
		  </sds-section>
	<br>
    <sds-section class="col-span-5" type="accented">
        <span class="border-top border-dark"></span>
            <template #title><b>RESULTS</b></template>
            <p style="float:left;padding:10px">During payload testing, a manual exception</p><sds-select v-model="formData.exception" :options="exceptionOptions" style="text-align:center;width:120px;float:left;"></sds-select><p style="float:left;padding:10px">necessary for the test email to reach the target inbox.</p>
            <br><br><br><br>
            <sds-input v-model="formData.browser" style="width:180px;float:left;padding:0px 10px" placeholder="Google Chrome" :maxlength="100"></sds-input><p style="float:left;padding:10px 0px">was used to download the payloads and was deemed a primary browser used by users.</p>
            <br><br>
			<!-- Payloads Table -->
			<sds-section>
				<div class="mb-8">
					<sds-table :fields="fields" :items="items" class="table-prose" v-bind="PayloadTableArgs">
							<template #cell(payload_description)="{item}">
								<sds-textarea v-model="item.payload_description" rows="2" placeholder="Payload Description" :maxlength="500"></sds-textarea>
							</template>
							<template #cell(attack_name)="{item}">
								<sds-textarea v-model="item.attack_name" rows="2" placeholder="MITRE ATT&CK Format" :disabled=true :maxlength="500"></sds-textarea>
							</template>
							<template #cell(c2_protocol)="{item}">
								<sds-input v-model="item.c2_protocol" placeholder="Protocol" :maxlength="10"></sds-input>
							</template>
							<template #cell(host_protection)="{item}">
								<div class="right-block">
									<sds-toggle-switch v-model="item.host_protection"/>
								</div>
								<div v-if="item.host_protection" class="right-block space">
									<p>Blocked</p>
								</div>
								<div v-if="!item.host_protection" class="right-block space">
									<p>Not Blocked</p>
								</div>
							</template>
							<template #cell(border_protection)="{item}">
								<div class="right-block">
									<sds-toggle-switch v-model="item.border_protection"/>
								</div>
								<div v-if="item.border_protection" class="right-block space">
									<p>Blocked</p>
								</div>
								<div v-if="!item.border_protection" class="right-block space">
									<p>Not Blocked</p>
								</div>
							</template>

							<template #cell(delete)="{item}">
								<sds-button type="button" @click="deletePayload(item)" ><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-button>
							</template>
					</sds-table>
					<sds-button type="button" @click="addPayload"><img class="w-8 h-8" src="/static/icons/plus-solid.svg"></sds-button>
				</div>
			</sds-section>
			<sds-button variant="primary" class="float-right" @click="submitPayloads"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
			<br><br>
		</sds-section>
</div>
{% endblock %}

{% block scripts %}
<script>
function pageData() {
	pageData = {
		fileList: [],
		formData: {
			exception: "{{ description.exception }}",
			browser: "{{ description.browser|escapejs }}",
			security_solutions: []
		},
		exceptionOptions: [
			{ id: 1, value: 'was', text: 'was' },
			{ id: 2, value: 'was not', text: 'was not' },
		],
		overwriteWarning: false,
		notify: null,
		PayloadTableArgs: {
				fields: [
					{
					 	key: "id",
					 	label:"#",
					},
					{
						key: "payload_description",
						label: "Payload Description"
					},
					{
						key: "attack_name",
						label: "MITRE ATT&CK Format"
					},
					{
						key: "c2_protocol",
						label: "C2 Protocol"
					},
					{
						key: "host_protection",
						label: "Host Protection"
					},
					{
						key: "border_protection",
						label: "Border Protection",
					},
					{
						key: "delete",
					}
				],
				items: []
		},
		fileUploadArgs: {
			helperText: "Upload a CSV under 10 MB with the following headers: Description,Protocol,Host,Border and row format: <string>,<string>,<string>,<B/N>,<B/N>",
			accept: ".csv",
			allowedFiletypes: ["text/csv"],
			name: "payloadUpload",
			multiple: false
		},
		securityArgs: {
			type: "accented",
			hideContent: false,
			solutionSearchList: [],
			searchTerm: "",
		},
		securityData: function() {
			var security_list = [];
			var solutions = {{ security_solutions | safe }};
			for (i = 0; i < solutions.length; i++) {
				const proxy = new Proxy(solutions[i], {});
				security_list.push(proxy);
			}

			return security_list;
    	},
	}

	pageData.securityArgs.solutionSearchList = pageData.securityData().filter(solution => solution)

	{% for s in used_solutions %}

		pageData.formData.security_solutions.push("{{s.security_solution_name}}")

	{% endfor %}

	{% for payload in payloads %}

		{% if payload.host_protection == "N" %}
      host = false
    {% else %}
      host = true
    {% endif %}

    {% if payload.border_protection == "N" %}
      border = false
    {% else %}
      border = true
    {% endif %}

		pageData.PayloadTableArgs.items.push({id: "{{payload.order}}", payload_description: "{{payload.payload_description|escapejs}}", attack_name: "{{payload.attack_name|escapejs}}", c2_protocol: "{{payload.c2_protocol|escapejs}}", host_protection: host, border_protection: border})

	{% endfor %}

	return pageData
}

function pageCreated() {
	this.baseData.layoutArgs.pageTitle = "Payload Testing"
}

function pageMethods() {
	pageFunctions = {
		submitPayloads: function() {

			this.PayloadTableArgs.items.forEach(element => {
				if (element.payload_description == "") {
					this.notify = true
				}
			})

			if (this.notify) {
				this.displayNotification({title: "Error Saving Data", text: "One or more Payloads are missing a description. Please enter a description for each payload before saving.", variant: "warning", autoHideDelay:10000})
				this.notify = false
			}

			else {
				formattedData = JSON.parse(JSON.stringify(this.formData))
				formattedData['payloads'] = JSON.parse(JSON.stringify(this.PayloadTableArgs.items))

				fetch(window.location.href, {
					method: "POST",
					body: JSON.stringify(formattedData),
					credentials: "same-origin",
					headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
				}).then(response => {
				if(response.ok) {
					this.displayNotification({title: "Payloads Saved", text: "Payload data saved successfully. Please wait while the page refreshes...", variant: "success"})
					setTimeout(() => {this.redirectLink("{% url 'payloads' %}")}, 2000)
				}
				else {
					this.displayNotification({title: "Error Saving Data", text: 'Bad response received from server. Check for errors in forms and try again.', variant: "danger"})
				}
				}).catch(error => {
					this.displayNotification({title: "Error Saving Data", text: error, variant: "danger"})
				})
			}
		},

		addPayload: async function () {
			this.PayloadTableArgs.items.push({id: this.PayloadTableArgs.items.length + 1, payload_description: "", attack_name: "", c2_protocol: "", host_protection: true, border_protection: false})
		},

		deletePayload: function(item) {
			this.PayloadTableArgs.items.splice(this.PayloadTableArgs.items.indexOf(item), 1)

			this.PayloadTableArgs.items.forEach((element, index) => {
				element.id = index + 1
			})
		},

		parseData: async function(overwrite) {
			if (document.getElementsByName('payloadUpload')[0].files.length == 0) {
				return
			}

			const fileName = document.getElementsByName('payloadUpload')[0].files[0]
			let payloadString = null
			await fileName.text().then(text => {payloadString = text})

			if (overwrite) {
				this.PayloadTableArgs.items = []
			}

			var lines = payloadString.split('\n')
			var length = lines.length

			for (var i = 1; i < length; i++) {
				values = lines[i].split(',')

				if (values[2][0] == "N") {
					h = false
				}
				else {
					h = true
				}
			    
				if (values[3][0] == "N") {
					b = false
				}
				else {
					b = true
				}

				this.PayloadTableArgs.items.push({id: this.PayloadTableArgs.items.length + 1, payload_description: values[0], attack_name: "", c2_protocol: values[1], host_protection: h, border_protection: b})
			}

			this.displayNotification({'title': 'Payloads Added', text: 'Payloads have been added to the table below. Saving this screen will populate the MITRE ATT&CK formats accordingly.', variant:"info", autoHideDelay:10000})
			this.fileList = []
		},

		checkSolution: function(sol) {
			if (document.getElementById(sol).checked) {
				this.formData.security_solutions.push(sol)
			}
                
			else {
				index = this.formData.security_solutions.indexOf(sol)
				this.formData.security_solutions.splice(index, 1)
			}
		},
		filterSolutions: function(searchTerm) {
			this.securityArgs.solutionSearchList = this.securityData().filter(sol => sol.fields.security_solution_name.toLowerCase().includes(searchTerm.toLowerCase()))
		},
    }

    return pageFunctions
}
</script>
{% endblock %}
