<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
  .col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
    margin-bottom: 50px !important;
    }
  .float-left{
    display: inline-block;
    position: relative;
    top: -40px;
  }
  .right-block{
    display:inline-block;
    vertical-align:top;
    font-size: 11pt;
  }
  .space{
    padding: 4px;
  }
  </style>
{% endblock %}

{% block content %}
<div class="col-span-5">
  {% csrf_token %}
    <sds-section class="col-span-5" type="accented">
        <span class="border-top border-dark"></span>
            <template #title><b>RESULTS</b></template>
            <!-- Ransomware Scenarios -->
              <sds-section>
                <div style="float:left; padding: 10px 0px 0px 0px">Endpoints were found to be vulnerable to </div>
                <div style="width:70px; float:left; padding: 0px 10px 0px 10px">
                <sds-input v-model="formData.vuln" placeholder="#" :maxlength="2"></sds-input>
                </div>
                <div style="float:left; padding: 10px 0px 0px 0px;">/</div>
                <div style="width:70px; float:left; padding: 0px 10px 0px 10px">
                <sds-input v-model="formData.total" placeholder="#" :maxlength="2"></sds-input>
                </div>
                <div style="float:left; padding: 10px 0px 0px 0px"> of the ransomware scenarios that were tested.</div>
              </sds-section>
              <br>
              <sds-section>
                <p>For any tests in the table below that were not performed, select the 'Disable' button to indicate no testing was done.</p>
              </sds-section>
              <!-- Ransomware Table -->
              <sds-section>
                <div class="mb-8">
                  <sds-table :fields="fields" :items="items" class="table-prose" v-bind="ranTableArgs">
                      <template #cell(id)="{item}"></template>
                      <template #cell(description)="{item}"></template>
                      <template #cell(trigger)="{item}">
                        <div class="right-block">
                          <sds-toggle-switch v-model="item.trigger" :disabled="Boolean(item.disabled)"/>
                        </div>
                        <div v-if="item.trigger" class="right-block space">
                          <p>Yes</p>
                        </div>
                        <div v-if="!item.trigger" class="right-block space">
                          <p>No</p>
                        </div>
                      </template>
                      <template #cell(time_start)="{item}">
                        <sds-datepicker v-model="item.time_start" :min="calendar.min" :max="calendar.max" mode="dateTime" :size="calendar.size" :disabled="Boolean(item.disabled)"/>
                      </template>
                      <template #cell(time_end)="{item}">
                        <sds-datepicker v-model="item.time_end" :min="calendar.min" :max="calendar.max" mode="dateTime" :size="calendar.size" :disabled="Boolean(!item.trigger)"/>
                      </template>
                      <template #cell(delete)="{item}">
                        <div v-if="item.disabled">
                          <sds-button variant="primary" type="button" @click="item.disabled = Boolean(0)">Enable</sds-button>
                        </div>
                        <div v-if="!item.disabled">
                          <sds-button variant="secondary" type="button" @click="item.disabled = Boolean(1); item.trigger = Boolean(0)">Disable</sds-button>
                        </div>
                      </template>
                  </sds-table>
                </div>
              </sds-section>
              <sds-button variant="primary" class="float-right" @click="submitRansomware"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
              <br><br>
          </sds-section>
</div>
{% endblock %}

{% block scripts %}
<script>
  function pageData() {
    data = {
      overwriteWarning: false,
      //to display pop up notification
      notify: null,
      // scenario table columns
      formData: {
        vuln: "{{ scenarios.vuln }}",
        total: "{{ scenarios.total }}",
      },
      // ransomware table columns
      ranTableArgs: {
          fields: [
            {
              key: "id",
              label:"#"
            },
            {
              key: "description",
              label: "Description"
            },
            {
              key: "trigger",
              label: "Result"
            },
            {
              key: "time_start",
              label: "Test Start Time",
            },
            {
              key: "time_end",
              label: "Detection/Prevention Time",
            },
            {
              key: "delete",
            }
          ],
          items: []
      },
      calendar: {
        date: null,
        max: null,
        min: null,
        mode: 'date',
        size: 'md'
      },
    }


    {% for rs in ransomware %}

        {% if rs.trigger == "N" %}
          trigger = false
        {% else %}
          trigger = true
        {% endif %}

        start = null
        end = null

        {% if rs.time_start != null %}
          date = "{{rs.time_start | date:"m/d/Y h:i a"}}"
          start = new Date (date.replace(/\./g, ''))
        {% endif %}

        {% if rs.time_end != null %}
          date = "{{rs.time_end | date:"m/d/Y h:i a"}}"
          end = new Date (date.replace(/\./g, ''))
        {% endif %}

        data.ranTableArgs.items.push({id: "{{rs.order}}", description: "{{rs.description}}", trigger: trigger, time_start: start, time_end: end, disabled: parseInt("{{rs.disabled}}")})

    {% empty %}
      data.ranTableArgs.items.push({id: 1, description: "Ransomware activity detected by security software: ", trigger: false, time_start: null, time_end: null, disabled: 0})
      data.ranTableArgs.items.push({id: 2, description: "Ransomware activity prevented by security software: ", trigger: false, time_start: null, time_end: null, disabled: 0})
      data.ranTableArgs.items.push({id: 3, description: "Ransomware activity detected by security and/or IT personnel: ", trigger: false, time_start: null, time_end: null, disabled: 0})
      data.ranTableArgs.items.push({id: 4, description: "Ransomware activity reported by end users: ", trigger: false, time_start: null, time_end: null, disabled: 0})

    {% endfor %}

    return data

  }

  function pageCreated() {
    this.baseData.layoutArgs.pageTitle = "Ransomware Susceptibility"
  }

  function pageMethods() {
    pageFunctions = {
      submitRansomware: function() {
        if (Number.isInteger(Number(this.formData.vuln)) && Number.isInteger(Number(this.formData.total))) {
          scenarios_error = false
        }

        else if (this.formData.vuln == "" && this.formData.total == "") {
          scenarios_error = false
        }

        else {
          scenarios_error = true
        }

        if (Number(this.formData.vuln) <= Number(this.formData.total)) {
          vuln_error = false
        }

        else {
          vuln_error = true
        }

        dates_error = false

        this.ranTableArgs.items.forEach(element => {

          if (element.trigger == false) {
            element.time_end = null
          }

          if (element.disabled == 1) {
            element.time_start = null
            element.time_end = null
          }

          if (element.time_start != null) {
            start = new Date(element.time_start)
          }
          else {
            start = null
          }

          if (element.time_end != null) {
            end = new Date(element.time_end)
          }
          else {
            end = null
          }

          if ((start == null) && (end == null)) {
            return
          }

          else if ((start > end) && (end != null)) {
            dates_error = true
          }

        })

        if (scenarios_error) {
          this.displayNotification({title: "Error Saving Data", text: "Please enter valid integers for number of vulnerable and tested scenarios or leave both fields blank if scenarios were not tested.", variant: "warning", autoHideDelay:10000})
          scenarios_error = false
        }

        else if (vuln_error) {
          this.displayNotification({title: "Error Saving Data", text: "Please ensure the number of vulnerable scenarios does not exceed the total number of scenarios tested.", variant: "warning", autoHideDelay:10000})
          vuln_error = false
        }
        
        else if (dates_error) {
          this.displayNotification({title: "Error Saving Data", text: "Please ensure all test start times are logged as a date/time that precedes or is equal to the detection/prevention time.", variant: "warning", autoHideDelay:10000})
          dates_error = false
        }

        else {
          formattedData = JSON.parse(JSON.stringify(this.formData))
          formattedData['results'] = JSON.parse(JSON.stringify(this.ranTableArgs.items))

          fetch(window.location.href, {
            method: "POST",
            body: JSON.stringify(formattedData),
            credentials: "same-origin",
            headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
          }).then(response => {
            if(response.ok) {
              this.displayNotification({title: "Ransomware Data Saved", variant:"success", text: "Ransomware data saved successfully. Please wait while the page refreshes..."})
              setTimeout(() => {this.redirectLink("{% url 'ransomware' %}")}, 2000)
            }
            else {
              this.displayNotification({text: "Bad response received from server. Check for errors in forms and try again.", title: "Error Saving Data", variant:"danger"})
            }
          }).catch(error => {
            this.displayNotification({text: error, title: "Error Saving Data", variant:"danger"})
          })
        }
      }
    }

    return pageFunctions
  }
</script>
{% endblock %}
