<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% block active %}#riskScore{% endblock %}


{% block content %}
{% csrf_token %}
<sds-section>
	<sds-table class="table-prose mb-2" v-bind="scoreTableArgs">
		<template #cell(id)="{item}"></template>
		<template #cell(finding)="{item}"></template>
		<template #cell(severity)="{item}"></template>
		<template #cell(magnitude)="{item}">
			<sds-input v-model="item.magnitude" placeholder="0-100" :maxlength="3"></sds-input>
		</template>
		<template #cell(probability)="{item}">
			<sds-input v-model="item.probability" placeholder="0-100" :maxlength="3"></sds-input>
		</template>
		<template #cell(kev)="{item}"></template>
		<template #cell(mitigation)="{item}"></template>
		<template #cell(score)="{item}"></template>
	</sds-table>

	<div style="width:25%; margin-left: auto; margin-right: 0;">
		<sds-table class="table-prose mb-2" v-bind="totalTableArgs">
			<template #cell(total)="{item}"></template>
			<template #cell(mitigated)="{item}"></template>
		</sds-table>
	</div>
	<br>
	<sds-button variant="primary" class="float-right" @click="submitRiskScore"><img class="w-8 h-8" src="/static/icons/floppy-disk-solid.svg" style="float:left; padding:0px 6px 0px 0px"> Save</sds-button>
	<br><br>
</sds-section>
{% endblock %}


{% block scripts %}
<script>
	function pageData() {
		data = {
			overwriteWarning: false,
			scoreTableArgs: {
				fields: [
					{
						key: "uploaded_finding_id",
						label: "#",
						sortable: true
					},
					{
						key: "uploaded_finding_name",
						label: "Finding Name",
						sortable: true
					},
					{
						key: "severity",
						label: "Severity",
						sortable: true
					},
					{
						key: "magnitude",
						label: "Magnitude (%)",
						sortable: true
					},
					{
						key: "probability",
						label: "Probability (%)",
						sortable: true
					},
					{
						key: "kev",
						label: "KEV",
						sortable: true
					},
					{
						key: "mitigation",
						label: "Mitigation Status",
						sortable: true
					},
					{
						key: "risk_score",
						label: "Risk Score",
						sortable: true
					}
				],
				items: []
			},

			totalTableArgs: {
				fields: [
					{
						key: "total",
						label: "Total Risk Score",
						align: "right",
						sortable: false
					},
					{
						key: "mitigated",
						label: "Mitigated Risk Score",
						sortable: false
					}
				],
				items: []
			}
		}

		total_risk = 0
		mitigated_risk = 0

		{% for finding in findings %}

			{% if finding.KEV.count > 0 %}
				iskev = "True"
			{% else %}
				iskev = "False"
			{% endif %}

			total_risk += parseInt("{{finding.risk_score}}")
			{% if finding.mitigation != True %}
				mitigated_risk += parseInt("{{finding.risk_score}}")
			{% endif %}

			data.scoreTableArgs.items.push({uploaded_finding_id: "{{finding.uploaded_finding_id}}", uploaded_finding_name: "{{finding.uploaded_finding_name}}", severity: "{{finding.severity}}", magnitude: "{{finding.magnitude}}", probability: "{{finding.probability}}", kev: iskev, mitigation: "{{finding.mitigation}}", risk_score: "{{finding.risk_score}}"})
		{% endfor %}

		data.totalTableArgs.items.push({total: total_risk, mitigated: mitigated_risk})

		return data
	}

	function pageCreated() {
		this.baseData.layoutArgs.pageTitle = "Risk Scoring"
	}

	function pageMethods() {
		pageFunctions = {
			submitRiskScore: function() {

				this.scoreTableArgs.items.forEach(element => {
					if (!(parseInt(element.magnitude) >= 0 && (parseInt(element.magnitude) <= 100))) {
						this.notify_magnitude = true
					}

					if (!(parseInt(element.probability) >= 0 && (parseInt(element.probability) <= 100))) {
						this.notify_probability = true
					}
				})
				
				if (this.notify_magnitude) {
					this.displayNotification({title: "Error Saving Data", text: "Magnitude must be a valid integer between 0 and 100. Please correct invalid magnitudes before saving.", variant: "warning", autoHideDelay:10000})
					this.notify_magnitude = false
				}

				else if (this.notify_probability) {
					this.displayNotification({title: "Error Saving Data", text: "Probability must be a valid integer between 0 and 100. Please correct invalid probabilities before saving.", variant: "warning", autoHideDelay:10000})
					this.notify_probability = false
				}

				else {
					formattedData = JSON.parse(JSON.stringify(this.scoreTableArgs.items))
					fetch(window.location.href, {
						method: "POST",
						body: JSON.stringify(formattedData),
						credentials: "same-origin",
						headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
					}).then(response => {
						if(response.ok) {
							this.displayNotification({title: "Risk Score Saved", variant:"success", text: "Risk scoring data saved successfully.  Please wait while the page refreshes..."})
							setTimeout(() => {this.redirectLink("{% url 'risk_score' %}")}, 2000)
						}
						else {
							this.displayNotification({text: "Bad response received from server. Check for errors in forms and try again.", title: "Error Saving Data", variant:"danger"})
						}
					}).catch(error => {
						this.displayNotification({text: error, title: "Error Saving Data", variant:"danger"})
					})
				}
			}
		}

		return pageFunctions
	}
</script>
{% endblock %}
