<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

<html>
<head>
	<!-- CSS -->
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-datepicker3.css" rel="stylesheet" />

	<!-- JS -->
	<script src="{{ STATIC_URL }}js/jquery-3.2.1.slim.min.js"></script>
	<script src="{{ STATIC_URL }}js/popper.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!-- custom CSS -->
    <style>
        body {
            height: 100%
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>PT Portal</title>
</head>
<body>
<div class="container">
    <div class="col-md-5">
        <form method="post">
            {% csrf_token %}
                <h2>Register</h2>
                <hr>
            <div class="field-label-responsive">
                <label for="username"><strong>Username</strong></label>
            </div>
            <div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" id="username"
                               placeholder="Username" required autofocus>
                    </div>
                </div>
            </div>
            <div class="field-label-responsive">
                <label for="password"><strong>Password</strong></label>
            </div>
            <div class="form-group has-danger">
                <div class="input-group">
                    <input type="password" name="password1" class="form-control" id="password"
                           placeholder="Password" required>
                </div>
            </div>
            <div class="field-label-responsive">
                <label for="password"><strong>Confirm Password</strong></label>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" name="password2" class="form-control"
                           id="password-confirm" placeholder="Password" required>
                </div>
            </div>
            {% if messages %}
                <div class="form-group alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
