<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->
{% extends 'ptportal/base.html' %}
{% block active %}#tools{% endblock %}

{% block styles %}
#engagement_warning toast-header {
    font: red;
}
{% endblock %}

{% block content %}
<!-- TODO: fix form, form validation -->

<h1><i class="fas fa-wrench"></i> Tools</h1>

{% if engagement is None %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
	    <strong>Engagement Data Needed!</strong> Please Enter Engagement Data to Access the Downloads
	    <a href="#" class="close ml-2 mb-1" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
{% endif %}

<hr />

        <div class="row">
            <div class="col-md-12"><br />
                <h3 class="text-sm-left">Downloads</h3>
                <hr /><br />
            </div>
        </div><!-- end row -->

		<div class="row">
			<div class="col-md-3">
				<div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
					<div class="card-block tools-icon">
				  	<i class="fas fa-download fa-5x"></i>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Download Backup</h5>
				    <p class="card-text">Exports the database into a json file and zips up the media directory</p>
                    <a href="{% url 'downloadBackup' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
				  </div>
				</div>
			</div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-12"><br />
                <h3 class="text-sm-left">Reports</h3>
                <hr /><br />
            </div>
        </div><!-- end row -->

        <div class="row">
			<div class="col-md-3">
				<div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
					<div class="card-block tools-icon">
				  	<i class="far fa-file-word fa-5x"></i>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Generate Report</h5>
				    <p class="card-text">Generates and downloads a .docx report based on the template and uploaded data</p>
				    {% if missing_findings %}<!-- Selected findings are missing the secondary data details -->
				    <div class="d-inline-block" data-toggle="tooltip" title="The Finding{% if missing_findings|length < 2 %} {{ missing_findings|join:'' }} is {% else %}s {{ missing_findings|join:', ' }} are {% endif %} Missing Secondary Data">
				    <a href="{% url 'generateReport' %} " class="btn btn-secondary disabled">Download</a>
				    </div>
				    {% else %}
				    <a href="{% url 'generateReport' %} " class="btn {% if user.is_admin and engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
				    {% endif %}
				  </div>
				</div>
			</div>
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                    <i class="far fa-file-word fa-5x"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Generate Anonymized Report</h5>
                    <p class="card-text">Generates and downloads a .docx report based on the template and anonymized uploaded data</p>
                    <a href="{% url 'generateAnonymizedReport' %} " class="btn {% if user.is_admin and engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                  </div>
                </div>
            </div>
            {% if report_type == 'RVA' %}
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                    <i class="far fa-file-word fa-5x"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Generate Report Summary</h5>
                    <p class="card-text">Generates and downloads a .docx report summary based on the template and uploaded data</p>
                    {% if missing_findings %}<!-- Selected findings are missing the secondary data details -->
                    <div class="d-inline-block" data-toggle="tooltip" title="The Finding{% if missing_findings|length < 2 %} {{ missing_findings|join:'' }} is {% else %}s {{ missing_findings|join:', ' }} are {% endif %} Missing Secondary Data">
                    <a href="{% url 'generateReportSummary' %} " class="btn btn-secondary disabled">Download</a>
                    </div>
                    {% else %}
                    <a href="{% url 'generateReportSummary' %} " class="btn {% if user.is_admin and engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                    {% endif %}
                  </div>
                </div>
            </div>
            {% endif %}
			<div class="col-md-3">
				<div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
					<div class="card-block tools-icon">
				  	<i class="far fa-file-powerpoint fa-5x"></i>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Generate Outbrief</h5>
				    <p class="card-text">Generates and downloads a .ppt slide deck based on the template and uploaded data</p>
                    <a href="{% url 'generateOutbrief' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
				  </div>
				</div>
            </div>
		</div><!-- end row -->

        <div class="row">
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                    <i class="far fa-file-excel fa-5x"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Export Activity Tracker</h5>
                    <p class="card-text">Exports and downloads the Assessment Activity data as an excel spreadsheet</p>
                    <a href="{% url 'generateTracker' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                    <i class="far fa-file-excel fa-5x"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Generate Remediation Follow Up</h5>
                    <p class="card-text">Generates a spreadsheet for 180 day remediation follow up.</p>
                    <a href="{% url 'generateRemediation' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                  </div>
                </div>
            </div>
        </div><!-- end row -->


        <div class="row">
            <div class="col-md-12"><br />
                <h3 class="text-sm-left">JSON</h3>
                <hr /><br />
            </div>
        </div><!-- end row -->

		<div class="row">

			<div class="col-md-3">
				<div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
					<div class="card-block tools-icon">
				  	<i class="fas fa-user-shield fa-5x"></i>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Export DHS JSON</h5>
				    <p class="card-text">Exports and downloads Finding, Phishing and ATT&CK Path entries in JSON Format</p>
				    <a href="{% url 'generate_dhs_json' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
				  </div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
					<div class="card-block tools-icon">
				  	<img src="{{ STATIC_URL }}admin/img/json-icon.jpg" style="width:80px; height: 80px;" >
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Export Report JSON</h5>
				    <p class="card-text">Exports and downloads assessment data, written to "ptp-export.json</p>
				    <a href="{% url 'generateJSON' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
				  </div>
				</div>
			</div>
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                    <img src="{{ STATIC_URL }}admin/img/json-icon.jpg" style="width:80px; height: 80px;" >
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Export Anonymized Report JSON</h5>
                    <p class="card-text">Exports and downloads anonymized assessment data, written to "ptp-export-anon.json</p>
                    <a href="{% url 'generateAnonymizedJSON' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center tools-card" style="max-width: 18rem; max-height:30rem;">
                    <div class="card-block tools-icon">
                        <img src="{{ STATIC_URL }}admin/img/json-icon.jpg" style="width:80px; height: 80px;" >
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">Export Election Infrastructure JSON</h5>
                    <p class="card-text">Exports and downloads election infrastructure survey data, written to "RVAXXXX-election.json"</p>
                    <a href="{% url 'generateEIJSON' %} " class="btn {% if ei_exists %} btn-success {% else %} btn-secondary disabled{% endif %}">Download</a>
                    </div>
                </div>
            </div>
		</div><!-- end row -->

        <div class="row">
            <div class="col-md-12"><br />
            {% if report_type == 'HVA' %}
                <h3 class="text-sm-left">HVA Specific Downloads</h3>
                <hr /><br />
            {% else %}
            <!-- RPT and RVA do not have unique downloads  -->
            {% endif %}
            </div>
        </div><!-- end row -->

		<div class="row">
            <div class="col-md-3">
                {% if report_type == 'HVA' %}
                <div class="card text-center tools-card" style="max-width:18rem; max-height:30rem;">
                        <div class="card-block tools-icon">
                          <i class="far fa-file-powerpoint fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Export HVA Data</h5>
                        <p class="card-text">Generates and downloads the HVA json data</p>
                        <a href="{% url 'generateHVA' %} " class="btn {% if engagement is not None %} btn-primary {% else %} btn-secondary disabled {% endif %}">Download</a>
                    </div>
                </div>
                {% endif %}
            </div>
		</div><!-- end row -->
        <br />

            {% csrf_token %}

        </div><!-- end row -->

        <br><br>
        <div style="margin: 0 auto">
            <canvas id="findings-summary-table" width="300" height="150" style="display:none;"></canvas>
        </div>
        <div style="margin: 0 auto">
            <canvas id="nist-control-figure" width="300" height="150" style="display:none;"></canvas>
        </div>
        <div style=" margin: 0 auto">
            <canvas id="nist-csf-figure" width="300" height="150" style="display:none;"></canvas>
        </div>


{% endblock %}

{% block scripts %}
<!-- custom JS for tools.html -->
<script>
    $(document).ready(function(){
    	$(".active").removeClass("active");
        $("#tools").addClass("active");
        $('#flag-true').hide();
        $('#flag-false').hide();
        $('[data-toggle="tooltip"]').tooltip();
        $(".nav-item").removeClass("active");
        $("#tools_page").addClass("active");

        var findings_array = [{{findings_breakdown.Critical.count}}, {{findings_breakdown.High.count}}, {{findings_breakdown.Medium.count}}, {{findings_breakdown.Low.count}}, {{findings_breakdown.Info.count}}];
        var fsc = document.getElementById('findings-summary-table');

        var findingsSummaryChart = new Chart(fsc, {
            type: 'bar',
            data: {
                labels: ['Critical', 'High', 'Medium', 'Low', 'Informational'],
                datasets: [{
                    label: 'Number of Findings',
                    data: ["{{findings_breakdown.Critical.count}}", "{{findings_breakdown.High.count}}", "{{findings_breakdown.Medium.count}}", "{{findings_breakdown.Low.count}}", "{{findings_breakdown.Info.count}}"],
                    backgroundColor: [
                        'rgba(230, 0, 0, 0.8)',
                        'rgba(255, 140, 26, 0.8)',
                        'rgba(255, 247, 0, 0.8)',
                        'rgba(0, 153, 51, 0.8)',
                        'rgba(0, 102, 204, 0.8)'
                    ]
                }]
            },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        color: 'black',
                        backgroundColor: null,
                        borderWidth: 0
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: Math.max(...findings_array) + 1,
                            min: 0,
                            stepSize: 1
                        }
                    }]
                },
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0 // animation duration after a resize
            }
        });

        var nist_array = [{{nist_ac}}, {{nist_at}}, {{nist_cm}}, {{nist_ia}}, {{nist_ra}}, {{nist_sc}}, {{nist_si}}];
        var ctx = document.getElementById('nist-control-figure');

        var nistControlsChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Access Control', 'Awareness and Training', 'Configuration Management', 'Identification and Authentication', 'Risk Assessment', 'System and Communications Protection', 'System and Information Integrity'],
                datasets: [{
                    label: 'Number of Findings',
                    data: ["{{nist_ac}}", "{{nist_at}}", "{{nist_cm}}", "{{nist_ia}}", "{{nist_ra}}", "{{nist_sc}}", "{{nist_si}}"],
                    backgroundColor: [
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)',
                        'rgba(136, 180, 230, 0.7)'
                    ],
                    borderColor: [
                        'rgba(159, 194, 232, 1)',
                        'rgba(159, 194, 232, 1)',
                        'rgba(159, 194, 232, 1)',
                        'rgba(159, 194, 232, 1)',
                        'rgba(159, 194, 232, 1)',
                        'rgba(159, 194, 232, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    datalabels: {
                        display: false
                    },
                    outlabels: {
                        display: false
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: Math.max(...nist_array) + 1,
                            min: 0,
                            stepSize: 1
                        }
                    }]
                },
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0 // animation duration after a resize
            }
        });

        var piechart = [{{nist_iam}}, {{nist_ig}}, {{nist_ira}}, {{nist_pac}}, {{nist_pat}}, {{nist_pds}}, {{nist_pip}}, {{nist_ppt}}];
        var pie = document.getElementById('nist-csf-figure');

        var nistCSFChart = new Chart(pie, {
            type: 'pie',
            data : {
                labels: [
                    'Identify.Asset Management',
                    'Identify.Governance',
                    'Identify.Risk Assessment',
                    'Protect.Access Control',
                    'Protect.Awareness and Training',
                    'Protect.Data Security',
                    'Protect.Information Protection',
                    'Protect.Protective Technology'
                ],
                datasets: [{
                    data: [{{nist_iam}}, {{nist_ig}}, {{nist_ira}}, {{nist_pac}}, {{nist_pat}}, {{nist_pds}}, {{nist_pip}}, {{nist_ppt}}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(3, 53, 114, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(255, 159, 64, 0.7)',
                        'rgba(0, 149, 71, 0.7)',
                        'rgba(105, 44, 121, 0.7)'
                    ]
                }]
            },
            options: {
                plugins: {
                    datalabels: {
                        display: false,
                    },
                    outlabels: {
                        display: function(ctx) {
                            return ctx.dataset.data[ctx.dataIndex] != 0;
                        },
                        text: '%l: %p',
                        color: 'black',
                        stretch: 45,
                        font: {
                            resizable: true,
                            minSize: 12,
                            maxSize: 18
                        }
                    }
                },
                responsive: true,
                layout: {
                    padding: {
                        left: 60,
                        right: 60,
                        top: 60,
                        bottom: 60
                    }
                },
                legend: {
                    display: false
                },
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0 // animation duration after a resize
            }
        });

        $(".nav-item").removeClass("active");
        $("#tools_page").addClass("active");

        var fschart = findingsSummaryChart.toBase64Image();
        var nistcontrol = nistControlsChart.toBase64Image();
        var nistcsf = nistCSFChart.toBase64Image();

        $.ajax({
            type: "POST",
            url : "{% url 'tools' %}",
            data: {
                'ipaddress': "False",
                'fschart': fschart,
                'nistcontrol': nistcontrol,
                'nistcsf': nistcsf,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                console.log("success");
            }
        });
        return false;
    });

</script>
{% endblock %}
