attackcti
beautifulsoup4==4.10.0
cairosvg==2.7.0
django==3.1.14
django-axes==5.4.3
django-extra-views
django-widget-tweaks==1.4.3
djangorestframework==3.11.2
gunicorn==19.9.0
inflect==4.1.0
openpyxl==3.0.7
pandas==2.0.0
Pillow==9.3.0
psycopg2-binary==2.9.4
python-docx==0.8.10
python-pptx==0.6.18
pyzipper
numpy==1.23.5
reportlab==3.6.12