<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->
{% extends 'ptportal/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block active %}#engagement{% endblock %}

{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
    .btn-primary{
		margin-left: 45%;
		margin-top: 50px;
    }
    .col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
    }
	.form-spacing{
		gap: 1.5rem !important;
	}
	/* .form-control{
	 width: 45% !important;
	} */
	.fields{
		margin-top: -190px !important;
		margin-left: 560px !important;
		width: 30% !important;
	}
	.fieldlabel{
		margin-left: 260px !important;

	}
	.label-sm
	{
		width: 35% !important;
	}
</style>
{% endblock %}

{% block content %}
<div class="col-span-5">
		{% if object %}
		<sds-section>
			<div>
				<div style="float:left">
					<h2>{{report.report_type}} ID: {{object.asmt_id}}</h2>
					<p>Last modified: {{object.updated_at | naturaltime}}</p>
				</div>
				<div style="float:right">
					<sds-button variant="danger" @click="redirectLink('{% url "engagement_delete" %}')"><img class="w-8 h-8" src="/static/icons/trash-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Delete</sds-button>
				</div>
			</div>
			<br><br><br>
		</sds-section>
		<br>
		{% endif %}

		<form @submit="submitEngagement" class="block">
			{% csrf_token %}

		<sds-section class="col-span-5" type="accented">
        	<span class="border-top border-dark"></span>
            <template #title><b>STAKEHOLDER INFORMATION</b></template>

			<div class="grid grid-cols-6 form-spacing mb-8">
				<div class="col-span-3">
					<h4><b>{{ form.customer_long_name.label_tag }}</b></h4>
					<sds-input v-model="formData.customer_long_name" placeholder="Organization Name" :maxlength="200"></sds-input>
				</div>
				<div class="col-span-3">
					<h4><b>{{ form.customer_initials.label_tag }}</b></h4>
					<sds-input v-model="formData.customer_initials" placeholder="ON" :maxlength="20"></sds-input>
				</div>
				<div class="col-span-3">
					<h4><b>{{ form.customer_POC_name.label_tag }}</b></h4>
					<sds-input v-model="formData.customer_POC_name" placeholder="John Doe" :maxlength="100"></sds-input>
				</div>
				<div class="col-span-3">
					<h4><b>{{ form.customer_POC_email.label_tag }}</b></h4>
					<sds-input v-model="formData.customer_POC_email" placeholder="John.Doe@organization.gov" type="email" :maxlength="100"></sds-input>
				</div>
				{% if report.report_type == 'RVA' %}
				<div class="col-span-3">
					<h4><b>{{ form.customer_location.label_tag }}</b></h4>
					<sds-input v-model="formData.customer_location" placeholder="123 Main Street, Arlington, VA 12345" :maxlength="200"></sds-input>
				</div>
				{% endif %}
				<div class="col-span-1">
					<h4><b>{{ form.customer_state.label_tag }}</b></h4>
      				<sds-select v-model="formData.customer_state" :options="state_options"/>
				</div>
				<div class="col-span-1">
					<h4><b>{{ form.customer_sector.label_tag }}</b></h4>
					<sds-select v-model="formData.customer_sector" :options="sector_options"/>
				</div>
				<div class="col-span-3">
					<h4><b>{{ form.customer_ci_type.label_tag }}</b></h4>
					<sds-select v-model="formData.customer_ci_type" :options="ci_options"/>
				</div>
			</div>
		</sds-section>
		<br>
		<sds-section class="col-span-5" type="accented">
        	<span class="border-top border-dark"></span>
            <template #title><b>ASSESSOR DETAILS</b></template>

			<div class="grid grid-cols-6 form-spacing mb-8">
				<div class="col-span-3">
					<h4><b>{{ form.team_lead_name.label_tag }}</b></h4>
					<sds-input v-model="formData.team_lead_name" placeholder="Jane Doe" :maxlength="50"></sds-input>
				</div>
				<div class="col-span-3">
					<h4><b>{{ form.team_lead_email.label_tag }}</b></h4>
					<sds-input v-model="formData.team_lead_email" placeholder="Jane.Doe@cisa.dhs.gov" type="email" :maxlength="50"></sds-input>
				</div>
				<!--<div class="col-span-full">
					<h4><b>{{ form.business_goal.label_tag }}</b></h4>
					<sds-textarea v-model="formData.business_goal" placeholder="Enter a brief description of the assessment business goal." v-bind:rows="3"></sds-textarea>
				</div>-->
			</div>
		</sds-section>

			<!--{% if report.report_type == 'HVA' %}
				<div class="mb-2">
					<h2>High Valued Asset(s)</h2>
				</div>
				<div class="mb-2">
					<h4>HVA Targets</h4>
				</div>
				<div class="mb-8">
					<sds-table class="table-prose mb-2" v-bind="HVATableArgs">
						<template #cell(name)="{item}">
							<sds-input v-model="item.name" placeholder="CDN Server"></sds-input>
						</template>
						<template #cell(address)="{item}">
							<sds-input v-model="item.address" placeholder="127.0.0.1"></sds-input>
						</template>
						<template #cell(status)="{item}">
							<sds-select v-bind="HVASelectionArgs" v-model="item.status"></sds-select>
						</template>
						<template #cell(delete)="{item}">
							<sds-button variant="danger" type="button" @click="deleteHVASystem(item)"><i class="fas fa-trash-alt"></i></sds-button>
						</template>
					</sds-table>
					<sds-button variant="primary" type="button" size="sm" @click="addHVASystem">Add System</sds-button>
				</div>
			{% endif %}-->
		<br>
		{% if report.report_type == 'RVA' %}
		<sds-section class="col-span-5" type="accented">
        	<span class="border-top border-dark"></span>
            <template #title><b>PHISHING TESTING</b></template>

			<div class="grid grid-cols-6 form-spacing mb-8">
				<div class="col-span-3">
					<h4><b>
						{{form.phishing_domains.label_tag}}
					</b></h4>
					<span class="text-sm text-gray-600">
						{{form.phishing_domains.help_text}}
					</span>
					<sds-textarea v-model="formData.phishing_domains" placeholder="dhs.gov, cisa.gov" :maxlength="1000"></sds-textarea>
				</div>
			</div>
		</sds-section>
		<br>
		{% endif %}
		<sds-section class="col-span-5" type="accented">
        	<span class="border-top border-dark"></span>
            <template #title><b>EXTERNAL TESTING</b></template>

			<div class="grid grid-cols-6 form-spacing mb-8">
				<div class="col-span-4">
					<h4 class="mb-2"><b>External Start and End Date</b></h4>
					<input class="form-control" v-model="formData.ext_start_date" type="date" value="formData.ext_start_date" style="float:left; width:35%; padding:10px">
					<div style="float:left; padding:10px">&#8594;</div>
					<input class="form-control" v-model="formData.ext_end_date" type="date" value="formData.ext_end_date" style="float:left; width:35%; padding:10px">
				</div>
				<div class="col-span-3">
					<h4><b>
						{{form.ext_scope.label_tag}}
					</b></h4>
					<span class="text-sm text-gray-600">
						{{form.ext_scope.help_text}}
					</span>
					<sds-textarea v-model="formData.ext_scope" placeholder="123.45.67.8, 123.45.67.10-20, 123.45.67.10-123.45.67.20, 123.45.67.0/24" :maxlength="10000"></sds-textarea>
				</div>
				<div class="col-span-3">
					<h4><b>
						{{form.ext_excluded_scope.label_tag}}
					</b></h4>
					<span class="text-sm text-gray-600">
						{{form.ext_excluded_scope.help_text}}
					</span>
					<sds-textarea v-model="formData.ext_excluded_scope" placeholder="123.45.67.8, 123.45.67.10-20, 123.45.67.10-123.45.67.20, 123.45.67.0/24" :maxlength="10000"></sds-textarea>
				</div>
			</div>
		</sds-section>
		<br>
			{% if report.report_type == 'RVA' %}
			<sds-section class="col-span-5" type="accented">
	        	<span class="border-top border-dark"></span>
	            <template #title><b>INTERNAL TESTING</b></template>

				<div class="grid grid-cols-6 form-spacing mb-8">
					<div class="col-span-4">
						<h4 class="mb-2"><b>Internal Start and End Date</b></h4>
						<input class="form-control" v-model="formData.int_start_date" type="date" value="formData.int_start_date" style="float:left; width:35%; padding:10px">
					<div style="float:left; padding:10px">&#8594;</div>
						<input class="form-control" v-model="formData.int_end_date" type="date" value="formData.int_end_date" style="float:left; width:35%; padding:10px">
					</div>
					<div class="col-span-3">
						<h4><b>
							{{form.int_scope.label_tag}}
						</b></h4>
						<span class="text-sm text-gray-600">
							{{form.int_scope.help_text}}
						</span>
						<sds-textarea v-model="formData.int_scope" placeholder="192.168.1.2, 192.168.1.10-20, 192.168.1.10-192.168.2.20, 192.168.1.0/24" :maxlength="10000"></sds-textarea>
					</div>
					<div class="col-span-3">
						<h4><b>
							{{form.int_excluded_scope.label_tag}}
						</b></h4>
						<span class="text-sm text-gray-600">
							{{form.int_excluded_scope.help_text}}
						</span>
						<sds-textarea v-model="formData.int_excluded_scope" placeholder="192.168.1.2, 192.168.1.10-20, 192.168.1.10-192.168.2.20, 192.168.1.0/24" :maxlength="10000"></sds-textarea>
					</div>
				</div>
			</sds-section>
			<br>
			{% endif %}

			<sds-section class="col-span-5" type="accented">
	        	<span class="border-top border-dark"></span>
	            <template #title><b>ADDITONAL INFORMATION</b></template>

				<h4 class=""><b>{{form.traffic_light_protocol.label_tag}}</b><span class="text-red-500 text-sm"> * required</span></h4>
				<span class="text-sm text-gray-600">
					{{form.traffic_light_protocol.help_text}}
				</span>
				<sds-radio-group required v-bind="TLP_Button_Options" v-model="formData.traffic_light_protocol" class="mb-4"></sds-radio-group>

				<div class="grid form-spacing mb-2 fieldlabel">
					<div>
						<h4 class="mb-2"><b>Create Assessment ID</b><span class="text-red-500 text-sm"> * required</span></h4>
						<span class="text-sm text-gray-600">
							Assessment ID (Max Length: 8)
						</span>
						<!-- <sds-input v-model="formData.asmt_id" v-bind="asmt_idArgs" @update:model-value="validateAsmtID"></sds-input> -->
					</div>
					<div>
						<h4><b>{{form.report_password.label_tag}}</b><span class="text-red-500 text-sm"> * required</span></h4>
						<span class="text-sm text-gray-600">
							{{form.report_password.help_text}}
							<i v-if="passwordArgs.invalid" class="fas fa-times-circle"></i>
							<i v-if="passwordArgs.valid" class="fas fa-check-circle"></i>
						</span>
						<!-- <sds-input required v-model="formData.report_password" v-bind="passwordArgs" @update:model-value="validatePassword"></sds-input> -->
					</div>
					<div >
						<h4><b>{{form.confirm_report_password.label_tag}}</b><span class="text-red-500 text-sm"> * required</span></h4>
						<span class="text-sm text-gray-600">
							{{form.confirm_report_password.help_text}}
							<i v-if="confirmPasswordArgs.invalid" class="fas fa-times-circle"></i>
							<i v-if="confirmPasswordArgs.valid" class="fas fa-check-circle"></i>
						</span>
						<!-- <sds-input required v-model="formData.confirm_report_password" v-bind="confirmPasswordArgs" @update:model-value="confirmPassword"></sds-input> -->
					</div>
				</div>
				<div class="grid form-spacing fields">
						<div class ="label-sm">
							<sds-input v-model="formData.asmt_id" v-bind="asmt_idArgs" @update:model-value="validateAsmtID"></sds-input>
						</div>
						<sds-input required v-model="formData.report_password" v-bind="passwordArgs" @update:model-value="validatePassword"></sds-input>
						<sds-input required v-model="formData.confirm_report_password" v-bind="confirmPasswordArgs" @update:model-value="confirmPassword"></sds-input>
				</div>
				<sds-button type="submit" variant="primary">Submit</sds-button>
			</sds-section>
		</form>
	</sds-section>
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
	document.addEventListener("DOMContentLoaded", function () {

	})

	function pageData() {
		data = {
			//Form data
			formData: {
				customer_long_name: "{{ object.customer_long_name | escapejs }}",
				customer_initials: "{{ object.customer_initials | escapejs }}",
				customer_POC_name: "{{ object.customer_POC_name | escapejs }}",
				customer_POC_email: "{{ object.customer_POC_email | escapejs }}",
				customer_state: "{{ object.customer_state }}",
				customer_sector: "{{ object.customer_sector }}",
				customer_ci_type: "{{ object.customer_ci_type }}",
				customer_location: "{{ object.customer_location | escapejs }}",
				team_lead_name: "{{ object.team_lead_name | escapejs }}",
				team_lead_email: "{{ object.team_lead_email | escapejs }}",
				technical_lead_name: "{{ object.technical_lead_name | escapejs }}",
				technical_lead_email: "{{ object.technical_lead_email | escapejs }}",
				ext_start_date: "{{ object.ext_start_date | date:"Y-m-d" }}",
				ext_end_date: "{{ object.ext_end_date | date:"Y-m-d" }}",
				int_start_date: "{{ object.int_start_date | date:"Y-m-d" }}",
				int_end_date: "{{ object.int_end_date | date:"Y-m-d" }}",
				phishing_domains: "{{ object.phishing_domains | escapejs }}",
				ext_scope: "{{ object.ext_scope | escapejs }}",
				ext_excluded_scope: "{{ object.ext_excluded_scope | escapejs }}",
				int_scope: "{{ object.int_scope | escapejs }}",
				int_excluded_scope: "{{ object.int_excluded_scope | escapejs }}",
				asmt_id: "{{ object.asmt_id }}",
				report_password: "{{ object.report_password }}",
				confirm_report_password: "{{ object.confirm_report_password }}",
				traffic_light_protocol: "{{ object.traffic_light_protocol }}",
			},
			//Extra data
			showPassword: false,

			//Argument data for components
			asmt_idArgs: {
				asmt_regexp: new RegExp("^(?:[a-zA-Z0-9]+)(?:$|\.[a-zA-Z0-9]+$)"),
				required: true,
				valid: false,
				invalid: false,
				maxlength: 8,
				placeholder: "{{report.report_type}}" == "RPT" ? "####.##" : "1234"
			},
			passwordArgs: {
				type: "password",
				required: true,
				valid: false,
				invalid: false,
				maxlength: 50
			},
			confirmPasswordArgs: {
				type: "password",
				required: true,
				valid: false,
				invalid: false,
				maxlength: 50
			},
			state_options: [
		    	{ id: 1, value: 'AK', text: 'AK' },
				{ id: 2, value: 'AL', text: 'AL' },
				{ id: 3, value: 'AR', text: 'AR' },
				{ id: 4, value: 'AS', text: 'AS' },
				{ id: 5, value: 'AZ', text: 'AZ' },
				{ id: 6, value: 'CA', text: 'CA' },
				{ id: 7, value: 'CO', text: 'CO' },
				{ id: 8, value: 'CT', text: 'CT' },
				{ id: 9, value: 'DC', text: 'DC' },
				{ id: 10, value: 'DE', text: 'DE' },
				{ id: 11, value: 'FL', text: 'FL' },
				{ id: 12, value: 'GA', text: 'GA' },
				{ id: 13, value: 'GU', text: 'GU' },
				{ id: 14, value: 'HI', text: 'HI' },
				{ id: 15, value: 'IA', text: 'IA' },
				{ id: 16, value: 'ID', text: 'ID' },
				{ id: 17, value: 'IL', text: 'IL' },
				{ id: 18, value: 'IN', text: 'IN' },
				{ id: 19, value: 'KS', text: 'KS' },
				{ id: 20, value: 'KY', text: 'KY' },
				{ id: 21, value: 'LA', text: 'LA' },
				{ id: 22, value: 'MA', text: 'MA' },
				{ id: 23, value: 'MD', text: 'MD' },
				{ id: 24, value: 'ME', text: 'ME' },
				{ id: 25, value: 'MI', text: 'MI' },
				{ id: 26, value: 'MN', text: 'MN' },
				{ id: 27, value: 'MO', text: 'MO' },
				{ id: 28, value: 'MP', text: 'MP' },
				{ id: 29, value: 'MS', text: 'MS' },
				{ id: 30, value: 'MT', text: 'MT' },
				{ id: 31, value: 'NC', text: 'NC' },
				{ id: 32, value: 'ND', text: 'ND' },
				{ id: 33, value: 'NE', text: 'NE' },
				{ id: 34, value: 'NH', text: 'NH' },
				{ id: 35, value: 'NJ', text: 'NJ' },
				{ id: 36, value: 'NM', text: 'NM' },
				{ id: 37, value: 'NV', text: 'NV' },
				{ id: 38, value: 'NY', text: 'NY' },
				{ id: 39, value: 'OH', text: 'OH' },
				{ id: 40, value: 'OK', text: 'OK' },
				{ id: 41, value: 'OR', text: 'OR' },
				{ id: 42, value: 'PA', text: 'PA' },
				{ id: 43, value: 'PR', text: 'PR' },
				{ id: 44, value: 'RI', text: 'RI' },
				{ id: 45, value: 'SC', text: 'SC' },
				{ id: 46, value: 'SD', text: 'SD' },
				{ id: 47, value: 'TN', text: 'TN' },
				{ id: 48, value: 'TX', text: 'TX' },
				{ id: 49, value: 'UT', text: 'UT' },
				{ id: 50, value: 'VA', text: 'VA' },
				{ id: 51, value: 'VI', text: 'VI' },
				{ id: 52, value: 'VT', text: 'VT' },
				{ id: 53, value: 'WA', text: 'WA' },
				{ id: 54, value: 'WI', text: 'WI' },
				{ id: 55, value: 'WV', text: 'WV' },
				{ id: 56, value: 'WY', text: 'WY' }
		    ],
		    sector_options: [
		        { id: 1, value: 'Federal', text: 'Federal' },
		        { id: 2, value: 'State', text: 'State' },
		        { id: 3, value: 'Local', text: 'Local' },
		        { id: 4, value: 'Tribal', text: 'Tribal' },
		        { id: 5, value: 'Territorial', text: 'Territorial' },
		        { id: 6, value: 'Private', text: 'Private' },
		        { id: 7, value: 'Other', text: 'Other' }
		    ],
		    ci_options: [
		    	{ id: 1, value: 'Chemical', text: 'Chemical' },
				{ id: 2, value: 'Commercial Facilities', text: 'Commercial Facilities' },
				{ id: 3, value: 'Communications', text: 'Communications' },
				{ id: 4, value: 'Critical Manufacturing', text: 'Critical Manufacturing' },
				{ id: 5, value: 'Dams', text: 'Dams' },
				{ id: 6, value: 'Defense Industrial Base', text: 'Defense Industrial Base' },
				{ id: 7, value: 'Emergency Services', text: 'Emergency Services' },
				{ id: 8, value: 'Energy', text: 'Energy' },
				{ id: 9, value: 'Financial Services', text: 'Financial Services' },
				{ id: 10, value: 'Food and Agriculture', text: 'Food and Agriculture' },
				{ id: 11, value: 'Government Facilities', text: 'Government Facilities' },
				{ id: 12, value: 'Healthcare and Public Health', text: 'Healthcare and Public Health' },
				{ id: 13, value: 'Identifying Critical Infrastructure During COVID-19', text: 'Identifying Critical Infrastructure During COVID-19' },
				{ id: 14, value: 'Information Technology', text: 'Information Technology' },
				{ id: 15, value: 'Nuclear Reactors, Materials, and Waste', text: 'Nuclear Reactors, Materials, and Waste' },
				{ id: 16, value: 'Sector-Specific Agencies', text: 'Sector-Specific Agencies' },
				{ id: 17, value: 'Transportation Systems', text: 'Transportation Systems' },
				{ id: 18, value: 'Water and Wastewater Systems', text: 'Water and Wastewater Systems' }
		    ],
			TLP_Button_Options: {
				stacked: true,
				options: [
					{
						id: 1,
						value: "Clear",
						text: "Clear"
					},
					{
						id: 2,
						value: "Amber",
						text: "Amber"
					},
					{
						id: 3,
						value: "Amber+Strict",
						text: "Amber+Strict"
					},
					{
						id: 4,
						value: "Red",
						text: "Red"
					}
				]
			},
			HVATableArgs: {
				fields: [
					{
						key: "name",
						label: "HVA Name"
					},
					{
						key: "address",
						label: "Address"
					},
					{
						key: "status",
						label: "Status"
					},
					{
						key: "delete",
						label: "Delete"
					}
				],
				items: [],
				sortBy: "num"
			},
			HVASelectionArgs: {
				options: [
					{
						id: 1,
						value: "Canceled",
						text: "Canceled"
					},
					{
						id: 2,
						value: "Completed",
						text: "Completed"
					},
					{
						id: 3,
						value: "In Progress",
						text: "In Progress"
					},
					{
						id: 4,
						value: "Not Started",
						text: "Not Started"
					},
					{
						id: 5,
						value: "On Hold",
						text: "On Hold"
					}
				]
			}

		}

		{% if report.report_type == 'HVA' %}
			{% for hva in hvas %}
				data["HVATableArgs"]["items"].push({name: "{{hva.name}}", address: "{{hva.address}}", status: "{{hva.status}}"})
			{% endfor %}
		{% endif %}

		return data
	}

	function pageCreated() {
		this.baseData.layoutArgs.pageTitle = "Assessment Details"
	}

	function pageMethods() {
		pageFunctions = {
			validateForm: function () {
				invalidFields = document.getElementsByClassName("form-control invalid")
				if(invalidFields.length > 0) {
					invalidFields[0].focus()
					return false
				}
				return true
			},
			submitEngagement: function (event) {
				event.preventDefault()
				if (!this.validateForm()) {return}
				formattedData = JSON.parse(JSON.stringify(this.formData))
				formattedData['hvas'] = this.HVATableArgs.items
				fetch(window.location.href, {
					method: "POST",
					//The body should contain the data you wanna post.
					body: JSON.stringify(formattedData),
					credentials: "same-origin",
					headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
				}).then(response => {
					if (response.ok) {
						this.displayNotification({title: "Assessment Details Saved", variant:"success", text: "Assessment details saved successfully. Redirecting to detail page..."})
						setTimeout(() => {this.redirectLink("{% url 'engagement_detail' %}")}, 2000)
					}
					else {
						this.displayNotification({title: "Error Saving Data", variant: "danger", text: "Bad response received from server. Check for errors in forms and try again."})
					}
				}).catch(error => {
					this.displayNotification({text: error, title: "Error Saving Data", variant:"danger"})
				})
			},
			showPasswordToggle: function () {
				if (this.showPassword) {
					this.passwordArgs.type = this.confirmPasswordArgs.type = "text"
				}
				else {
					this.passwordArgs.type = this.confirmPasswordArgs.type = "password"
				}
			},
			validateAsmtID: function() {
				if (this.asmt_idArgs.asmt_regexp.test(this.formData.asmt_id)) {
					this.asmt_idArgs.valid = true
					this.asmt_idArgs.invalid = false
				}
				else {
					this.asmt_idArgs.valid = false
					this.asmt_idArgs.invalid = true
				}
			},
			validatePassword: function () {
				if (this.formData.report_password.length > 12) {
					this.passwordArgs.valid = true
					this.passwordArgs.invalid = false
				}
				else {
					this.passwordArgs.valid = false
					this.passwordArgs.invalid = true
				}
				this.confirmPassword()
			},
			confirmPassword: function () {
				if (this.formData.report_password == this.formData.confirm_report_password) {
					this.confirmPasswordArgs.valid = true
					this.confirmPasswordArgs.invalid = false
				}
				else {
					this.confirmPasswordArgs.valid = false
					this.confirmPasswordArgs.invalid = true
				}
			},
			addHVASystem: function() {
				this.HVATableArgs.items.push({name: "", address: "", status: "Not Started"})
			},
			deleteHVASystem: function(system) {
				this.HVATableArgs.items.splice(this.HVATableArgs.items.indexOf(system), 1)
			}
		}

		return pageFunctions
	}

</script>
{% endblock %}