<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->
{% extends 'ptportal/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block active %}#engagement{% endblock %}
{% block content %}

<sds-section class="mb-4 w-1/2">
	<div style="float:left">
    <p><b>{{report.report_type}}-{{object.asmt_id}}</b></p>
		<p>Last modified: {{object.updated_at | naturaltime}}</p>
	</div>
	<div style="float:right">
    <sds-button class="mr-2" variant="primary" @click="redirectLink('{% url "engagement_update" %}')"><img class="w-8 h-8" src="/static/icons/pen-to-square-white.svg" style="float:left; padding:3px 6px 0px 0px"> Edit</sds-button>
		<sds-button variant="danger" @click="redirectLink('{% url "engagement_delete" %}')"><img class="w-8 h-8" src="/static/icons/trash-solid-white.svg" style="float:left; padding:3px 6px 0px 0px"> Delete</sds-button>
	</div>
  <br><br><br>
</sds-section>
<br>
<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4><b>Stakeholder Information</b></h4>
  </template>
  <p>Stakeholder Name: {{ object.customer_long_name }}</p>
  <p>Stakeholder Abbreviation: {{ object.customer_initials }}</p>
  <p>Point of Contact Name: {{ object.customer_POC_name }}</p>
  <p>Point of Contact Email: {{ object.customer_POC_email }}</p>
  <p>On-Site Testing Location: {{ object.customer_location }}</p>
  <p>State: {{ object.customer_state }}</p>
  <p>Sector: {{ object.customer_sector }}</p>
  <p>Critical Infrastructure Type: {{ object.customer_ci_type }}</p>
</sds-section>

<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4><b>Assessor Details</b></h4>
  </template>
  <p>Team Lead: {{ object.team_lead_name }}</p>
  <p>Team Lead Email: {{ object.team_lead_email }}</p>
</sds-section>

{% if report_type == 'HVA' %}
<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4>HVA Systems</h4>
  </template>
  <sds-table class='table-prose' v-bind="HVATableArgs"></sds-table>
</sds-section>
{% endif %}

<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4><b>Phishing Testing</b></h4>
  </template>
  <p>Phishing Domains: {{ object.phishing_domains }}</p>
</sds-section>

<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4><b>External Testing</b></h4>
  </template>
  <p>External Start Date: {{ object.ext_start_date }}</p>
  <p>External End Date: {{ object.ext_end_date }}</p>
  <p>External Included Scope: {{ object.ext_scope }}</p>
  <p>External Excluded Scope: {{ object.ext_excluded_scope }}</p>
</sds-section>

{% if report_type != 'RPT' %}
  <sds-section type="simple" class="mb-4 w-1/2">
    <template #title>
      <h4><b>Internal Testing</b></h4>
    </template>
    <p>Internal Start Date: {{ object.int_start_date }}</p>
    <p>Internal End Date: {{ object.int_end_date }}</p>
    <p>Internal Included Scope: {{ object.int_scope }}</p>
    <p>Internal Excluded Scope: {{ object.int_excluded_scope }}</p>
  </sds-section>
{% endif %}

<sds-section type="simple" class="mb-4 w-1/2">
  <template #title>
    <h4><b>Additional Information</b></h4>
  </template>
  <p>Traffic Light Protocol: {{ object.traffic_light_protocol }}{% if object.traffic_light_protocol == 'Amber' %} <i class="fa fa-circle" style="color:orange"></i>{% elif object.traffic_light_protocol == 'Amber+Strict' %} <i class="fa fa-circle" style="color:orange"></i>{% elif object.traffic_light_protocol == 'Red' %} <i class="fa fa-circle" style="color:red"></i>{% endif %}</p>
</sds-section>
{% endblock %}

{% block scripts %}
<script>
  function pageData() {
    data = {
      HVATableArgs: {
				fields: [
					{
						key: "name",
						label: "HVA Name"
					},
					{
						key: "address",
						label: "Address"
					},
					{
						key: "status",
						label: "Status"
					},
				],
				items: [],
				sortBy: "num"
			}
    }
    {% if report.report_type == 'HVA' %}
			{% for hva in hvas %}
				data["HVATableArgs"]["items"].push({name: "{{hva.name}}", address: "{{hva.address}}", status: "{{hva.status}}"})
			{% endfor %}
		{% endif %}

    return data
  }

  function pageCreated() {
    this.baseData.layoutArgs.pageTitle = "Assessment Details"
  }
</script>
{% endblock %}
