<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block active %}#narrative{% endblock %}
{% block content %}
{% csrf_token %}

<sds-section type="accented">
    <template #title>
        <p class="text-2xl font-bold">{{ narrative_assessment_type }}</p>
        <br>
        <sds-button variant="primary" @click="redirectLink('{% url "narrative_create" narrative_assessment_type.name|lower %}')">+ Attack Path</sds-button>
        <br>
    </template>
</sds-section>
<br>
<sds-section v-for="path in formData.attackPaths" :key="file" type="simple" class="mb-4">
    <template #title class="">
        <br><h1 style="font-size:20pt; float:left">[[path.name]] [[path.order]]</h1><br><br><br>
        <div style="width:50%">
            <img :src="[[path.imgURL]]" onerror="this.style.display='none'" />
        </div>
        <br><br>
        <div style="padding:0px 10px 0px 0px; float:left"><sds-button variant="primary" @click="redirectLink([[path.slug]])">Overview</sds-button></div><div style="padding:0px 10px 0px 0px; float:left"><sds-button variant="primary" @click="redirectLink([[path.slug]])">Steps</sds-button></div><div style="padding:0px 10px 0px 0px; float:left"><sds-button variant="danger" @click="redirectLink([[path.delete_slug]])">Delete</sds-button></div><br><br><br>
    </template>
</sds-section>

{% endblock %}

{% block scripts %}

<script>
function pageData() {
        let pageData = {
            formData: {
                attackPaths: [],
            },
        }

        {% for path, screenshot in paths %}

            slug = "{{path.slug}}" + "/edit"
            delete_slug = "{{path.slug}}" + "/delete"

            {% if screenshot == "None" %}
                imgURL = ""
            {% else %}
                imgURL = window.location.origin + "/media/" + "{{screenshot.file}}"
            {% endif %}

            pageData.formData.attackPaths.push({name: "{{path.name}}", order: "{{path.order}}", imgURL: imgURL, slug: slug, delete_slug: delete_slug})

        {% endfor %}

        return pageData
    }
</script>

{% endblock %}
