<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% block content %}

<h1><i class="fas fa-edit"></i>Narrative Types</h1>
<!-- add breadcrumbs -->
<hr />

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
	    <li class="breadcrumb-item active">Narratives</li>
	</ol>
</nav>

<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Narrative Type</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              {% for narrative_assessment_type in object_list %}
                <tr>
                  <td><a href="{% url 'narratives' narrative_assessment_type.slug %}">{{ narrative_assessment_type.name }}</a></td>
                  <!--<td>{{ narrative_type.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}
