<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% block active %}#narrative{% endblock %}
{% block content %}
{% csrf_token %}

<sds-section>
        <sds-button variant="primary" @click="redirectLink('{% url "narrative_create" narrative_assessment_type.name|lower %}')">+ Attack Path</sds-button>
        <br><br>
</sds-section>
<br>
<sds-section v-for="path in formData.attackPaths" :key="path.order" type="simple" class="mb-4">
    <template #title>
        <h1 style="font-size:20pt; float:left">[[path.name]] [[path.order]]</h1><div style="padding:0px 10px 0px 0px; float:right"><sds-button variant="danger" @click="redirectLink([[path.delete_slug]])">Delete</sds-button></div><div style="padding:0px 10px 0px 0px; float:right"><sds-button variant="primary" @click="redirectLink([[path.steps]])">Edit Steps</sds-button></div><div style="padding:0px 10px 0px 0px; float:right"><sds-button variant="primary" @click="redirectLink([[path.slug]])">Edit Details</sds-button></div>
    </template>
        <div v-if="path.imgURL" style="width:80%">
            <img :src="[[path.imgURL]]" />
        </div>
        <br><br>
        <strong>Tools:</strong> [[path.tools]]
        <br>
        <strong>Techniques:</strong> [[path.techniques]]
        <br>
</sds-section>

{% endblock %}

{% block scripts %}

<script>
function pageData() {
    let pageData = {
        formData: {
            attackPaths: [],
        },
    }

    {% for path in paths %}

        slug = "{{path.slug}}" + "/edit"
        steps = "{{path.slug}}" + "/steps"
        delete_slug = "{{path.slug}}" + "/delete"

        {% if path.file %}
            imgURL = window.location.origin + "/media/" + "{{path.file}}"
        {% else %}
            imgURL = ""
        {% endif %}

        tools = []
        techniques = []

        {% for tool in path.tools.all %}
            tools.push("{{tool.name|escapejs}}")
        {% endfor %}

        {% for technique in path.attack.all %}
            techniques.push("{{technique.name|escapejs}}")
        {% endfor %}

        tool_list = tools.join(', ')
        technique_list = techniques.join(', ')

        pageData.formData.attackPaths.push({name: "{{path.name}}", order: "{{path.order}}", imgURL: imgURL, slug: slug, steps: steps, delete_slug: delete_slug, tools: tool_list, techniques: technique_list})

    {% endfor %}

    return pageData
}

function pageCreated() {
    this.baseData.layoutArgs.pageTitle = "{{ narrative_assessment_type }}"
}
</script>

{% endblock %}
