<!-- Risk & Vulnerability Assessment Reporting Engine

Copyright 2022 The Risk & Vulnerability Reporting Engine Contributors, All Rights Reserved.
(see Contributors.txt for a full list of Contributors)

SPDX-License-Identifier: BSD-3-Clause

Please see additional acknowledgments (including references to third party source code, object code, documentation and other files) in the license.txt file or contact permission@sei.cmu.edu for full terms.

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

DM22-1011
 -->

{% extends 'ptportal/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block active %}#narrative{% endblock %}
{% block style %}
<style>
    .header{
        padding: 10px;
        background: white;
        color: black;
        font-size: 20px;
        position: relative;
        top: -15px;
        margin-left: -18px;
        margin-right: -20px;
    }
    .col-span-5{
        border-top:1px solid black!important;
        border-color:#1b1c1d!important;
        margin-bottom: 50px !important;
    }
    .float-left{
        display: inline-block;
        position: relative;
        top: -40px;
    }
    .right-block{
        display:inline-block;
        vertical-align:top;
        font-size: 11pt;
    }
    .space{
        padding: 4px;
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="header">
    <h2>{% if object.name %}{{ object.name }}{% else %}New Attack Path{% endif %}</h2>
</div>

<div class="col-span-5">

    <sds-section class="mb-4">
        <template #title>
            <p>Download the <sds-link href="{{ MEDIA_URL }}attack-path-template.pptx" variant="primary">Attack Path Template</sds-link> and follow the instructions in the document to construct/save your attack path diagram. Upload the attack path image file below.</p>
        </template>
        <sds-file-uploader v-bind="attackPathUploadArgs" @add="addFile">
        </sds-file-uploader>
    </sds-section>

    <sds-section v-for="file in formData.imageUpload" :key="file" type="simple" class="mb-4">
        <template #title class="">
            <img :src="[[file.imgURL]]"></img>
        </template>
        <div class="grid grid-cols-2 mb-2">
            <h4>Caption:</h4>
            <sds-button type="button" class="justify-self-end" @click="deleteFile(file)"><img class="w-8 h-8" src="/static/icons/trash-solid.svg"></sds-button>
        </div>
        <sds-textarea v-model="file.caption" :rows="1"></sds-textarea>
    </sds-section>

    <sds-section v-bind="toolSectionArgs" class="mb-4">
        <template #title>
            <span class="font-bold">TOOLS</span>
        </template>
        <div class="grid place-items-center">
            <sds-search-box class="w-1/2 place-self-center" :disableSearch="true" variant="primary" placeholder="Search Term" v-model="toolSectionArgs.searchTerm" @update:model-value="filterTools(toolSectionArgs.searchTerm)"></sds-search-box>
            <sds-scroll-area class="px-4 pt-4 place-self-center h-80 w-11/12" id="toolList">
                <div v-for="tool in toolSectionArgs.toolSearchList" :key="tool.fields.name" class="grid grid-cols-2 border-b border-slate-700 hover:bg-gray-700/[.1]">
                    <div class="py-2 px-4">
                        <div class="font-bold">
                        <input v-if="formData.tools.includes(tool.fields.name)" type="checkbox" :id="tool.fields.name" name="tool" :value="tool.fields.name" :checked="true" @click=checkTool(tool.fields.name)><input v-else type="checkbox" :id="tool.fields.name" name="tool" :value="tool.fields.name" @click=checkTool(tool.fields.name)>  [[tool.fields.name]]</div>
                    </div>
                    <div class="py-2">
                        [[tool.fields.url]]
                    </div>
                </div>
            </sds-scroll-area>
        
            <br><br>
            <div style="margin: 0 auto; text-align: center; min-width: 800px">
                <div style="padding: 0px 20px 0px 0px; float: left;">
                    <sds-floating-ui
                        popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                        placement="top"
                        arrow-class="absolute bg-black w-2 h-2 rotate-45"
                        placement-top-arrow-class="-bottom-1"
                        placement-right-arrow-class="-left-1"
                        placement-bottom-arrow-class="-top-1"
                        placement-left-arrow-class="-right-1"
                        :will-open="willOpen"
                        :will-close="willClose"
                    >
                        <template #trigger="{ open, close }">
                            <sds-input v-model="toolSectionArgs.newTool" id="toolName" placeholder="Tool Name" @mouseover="open" @mouseout="close" style="width:100%"></sds-input>
                        </template>
                        <template #default>
                            <div class="p-2">
                                <p>ONLY enter tools that have been thoroughly vetted, are from a trusted source, and are deemed safe to use.</p>
                            </div>
                        </template>
                    </sds-floating-ui>
                </div>
                <div style="float: left;">
                    <sds-floating-ui
                        popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                        placement="top"
                        arrow-class="absolute bg-black w-2 h-2 rotate-45"
                        placement-top-arrow-class="-bottom-1"
                        placement-right-arrow-class="-left-1"
                        placement-bottom-arrow-class="-top-1"
                        placement-left-arrow-class="-right-1"
                        :will-open="willOpen"
                        :will-close="willClose"
                    >
                        <template #trigger="{ open, close }">
                            <sds-input v-model="toolSectionArgs.newURL" id="toolURL" placeholder="URL" @mouseover="open" @mouseout="close" style="width: 200%"></sds-input>
                        </template>
                        <template #default>
                            <div class="p-2">
                                <p>ONLY enter a URL if it is a verified, trusted resource that is directly associated with the tool.</p>
                            </div>
                        </template>
                    </sds-floating-ui>
                </div>
                <div style="width: 10%; float: right;">
                    <sds-floating-ui
                        popper-class="absolute bg-black text-white text-xs shadow rounded-lg text-center w-56"
                        placement="top"
                        arrow-class="absolute bg-black w-2 h-2 rotate-45"
                        placement-top-arrow-class="-bottom-1"
                        placement-right-arrow-class="-left-1"
                        placement-bottom-arrow-class="-top-1"
                        placement-left-arrow-class="-right-1"
                        :will-open="willOpen"
                        :will-close="willClose"
                    >
                        <template #trigger="{ open, close }">
                            <sds-button variant="primary" @click="addTool" @mouseover="open" @mouseout="close">+</sds-button>
                        </template>
                        <template #default>
                            <div class="p-2">
                                <p>New tools will appear at the top of the list until the page is saved and refreshed.</p>
                            </div>
                        </template>
                    </sds-floating-ui>
                </div>
            </div>
        </div>
        <div class="flex flex-row-reverse"></div>
    </sds-section>

    <sds-section v-bind="attackSectionArgs" class="mb-4">
        <template #title>
            <span class="font-bold">MITRE ATT&CK TECHNIQUES</span>
        </template>
        <div class="grid place-items-center">
            <sds-search-box class="w-1/2 place-self-center" :disableSearch="true" variant="primary" placeholder="Search Term" v-model="attackSectionArgs.searchTerm" @update:model-value="filterTechniques(attackSectionArgs.searchTerm)"></sds-search-box>
            <sds-scroll-area class="px-4 pt-4 place-self-center h-80 w-11/12">
                <div v-for="technique in attackSectionArgs.attackSearchList" :key="technique.fields.t_id" :id="technique.fields.t_id" class="grid grid-cols-2 border-b border-slate-700 hover:bg-gray-700/[.1]">
                    <div class="py-2 px-4">
                        <div class="font-bold">
                        <input v-if="formData.techniques.includes(technique.fields.name)" type="checkbox" :id="technique.fields.name" name="attack" :value="technique.fields.name" :checked="true" @click=checkTechnique(technique.fields.name)><input v-else type="checkbox" :id="technique.fields.name" name="attack" :value="technique.fields.name" @click=checkTechnique(technique.fields.name)>  [[technique.fields.name]]</div>
                        <div>[[technique.fields.tactics]]</div>
                    </div>
                    <div class="py-2">
                        [[technique.fields.description]]
                    </div>
                </div>
            </sds-scroll-area>
        </div>
        
        <div class="flex flex-row-reverse"></div>
    </sds-section>
    <div class="flex flex-row-reverse">
        <sds-button variant="primary" @click="saveDetails">Save</sds-button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function pageData() {
        let pageData = {
            formData: {
                imageUpload: [],
                deleteImage: false,
                tools: [],
                newTools: [],
                techniques: []
            },
            fileList: [],
            attackPathUploadArgs: {
                helperText: "Upload a JPG, JPEG, or PNG under 10 MB. This will replace the current diagram once the page is saved.",
                accept: ".jpg, .jpeg, .png",
                allowedFiletypes: ["image/jpg", "image/jpeg", "image/JPG", "image/JPEG", "image/png", "image/PNG"],
                name: "attackPathUpload",
                multiple: false
            },
            toolSectionArgs: {
                type: "accented",
                hideContent: false,
                toolSearchList: [],
                searchTerm: "",
                newTool: "",
                newURL: ""
            },
            attackSectionArgs: {
                type: "accented",
                hideContent: false,
                attackSearchList: [],
                searchTerm: "",
            },
            toolData: function() {
                var tool_list = [];
                var tools = {{ all_tools | safe }};

                for (i = 0; i < tools.length; i++) {
                    const proxy = new Proxy(tools[i], {});
                    tool_list.push(proxy);
                }

                for (i = 0; i < pageData.formData.newTools.length; i++) {
                    const proxy = new Proxy({model: 'ptportal.tools', pk: 0, fields: {name: pageData.formData.newTools[i]['toolName'], url: pageData.formData.newTools[i]['toolURL']}}, {});
                    tool_list.unshift(proxy)
                }

                return tool_list;
            },
            attackData: function() {
                var attack_list = [];
                var techniques = {{ techniques | safe }};
                for (i = 0; i < techniques.length; i++) {
                    const proxy = new Proxy(techniques[i], {});
                    attack_list.push(proxy);
                }

                return attack_list;
            },
        }

        {% for i in object.attack.all %}

            pageData.formData.techniques.push("{{i.name}}")

        {% endfor %}
        
        {% for i in object.tools.all %}
            
            pageData.formData.tools.push("{{i.name}}")

        {% endfor %}

        {% if diagram %}

            pageData.formData.imageUpload.push({imgURL: window.location.origin + '/media/' + "{{object.file}}", caption: "{{object.caption}}"})

        {% endif %}

        pageData.toolSectionArgs.toolSearchList = pageData.toolData().filter(tool => tool)
        pageData.attackSectionArgs.attackSearchList = pageData.attackData().filter(technique => technique)

        return pageData
    }

    function pageMethods() {
        pageFunctions = {
            addFile: function (event) {
                this.fileList.splice(0, 1)
                this.formData.imageUpload.splice(0, 1)
                const files = Array.from(event.files)
                Array.prototype.push.apply(this.fileList, files)

                for (let file in files) {
                    this.formData.imageUpload.push({file: files[file], imgURL: URL.createObjectURL(files[file]), caption: ""})
                }

                this.displayNotification({'title': 'Image Added', text: 'The attack path diagram successfully uploaded and will replace any diagram that was previously uploaded.', variant:'info'})
            },
            deleteFile: function (file) {
                this.formData.deleteImage = true
                index = this.fileList.indexOf(file.file)
                if(index != -1){
                    this.fileList.splice(index, 1)
                    URL.revokeObjectURL(this.formData.imageUpload.imgURL)
                }
                
                index = this.formData.imageUpload.indexOf(file)
                this.formData.imageUpload.splice(index, 1)
            },
            addTool: function() {
                toolName = this.toolSectionArgs.newTool
                toolURL = this.toolSectionArgs.newURL
                this.formData.newTools.push({toolName, toolURL})

                const proxy = new Proxy({model: 'ptportal.tools', pk: 0, fields: {name: toolName, url: toolURL}}, {});
                this.toolSectionArgs.toolSearchList.unshift(proxy)

                this.formData.tools.push(toolName)

                this.toolSectionArgs.newTool = ""
                this.toolSectionArgs.newURL = ""
            },
            checkTool: function(tool) {
                if (document.getElementById(tool).checked) {
                    this.formData.tools.push(tool)
                }
                
                else {
                    index = this.formData.tools.indexOf(tool)
                    this.formData.tools.splice(index, 1)
                }
            },
            checkTechnique: function(technique) {
                if (document.getElementById(technique).checked) {
                    this.formData.techniques.push(technique)
                }
                
                else {
                    index = this.formData.techniques.indexOf(technique)
                    this.formData.techniques.splice(index, 1)
                }
            },
            filterTools: function(searchTerm) {
                this.toolSectionArgs.toolSearchList = this.toolData().filter(tool => tool.fields.name.toLowerCase().includes(searchTerm.toLowerCase()))
            },
            filterTechniques: function(searchTerm) {
                this.attackSectionArgs.attackSearchList = this.attackData().filter(technique => technique.fields.name.toLowerCase().includes(searchTerm.toLowerCase()) || technique.fields.tactics.toLowerCase().includes(searchTerm.toLowerCase()) || technique.fields.description.toLowerCase().includes(searchTerm.toLowerCase()) || technique.fields.t_id.toLowerCase().includes(searchTerm.toLowerCase()))
            },
            saveDetails: function () {

                const formData = new FormData()
                formData.append('data', JSON.stringify(this.formData))
                formData.append('file', this.fileList[0])
                
                fetch(window.location.href, {
                    method: "POST",
                    body: formData,
                    credentials: "same-origin",
                    headers: {"X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value}
                }).then(response => {
                if(response.ok) {

                    this.displayNotification({title: "Narrative Details Saved", text: "Narative details have been saved successfully.", variant: "success"})
                    
                    base = String(window.location.origin)
                    path = String(window.location.pathname)
                    if (path.includes("phishing") && path.includes("create")) {
                        window.location.href=base.concat("/ptportal/narrative/phishing")
                    }
                    else if (path.includes("external") && path.includes("create")) {
                        window.location.href=base.concat("/ptportal/narrative/external")
                    }
                    else if (path.includes("create")) {
                        window.location.href=base.concat("/ptportal/narrative/internal")
                    }
                    else {
                        location.reload()
                    }
                }
                else {
                    this.displayNotification({title: "Error Saving Data", text: "Bad response received from server. Check for errors in form and try again.", variant: "danger"})
                }
                }).catch(error => {
                    this.displayNotification({title: "Error Saving Data", text: error, variant: "danger"})
                })
            },
        }

        return pageFunctions
    }
</script>
{% endblock %}
